<%= form_with(model: shipping) do |form| %>
  <% if shipping.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(shipping.errors.count, "error") %> prohibited this shipping from being saved:</h2>

      <ul>
        <% shipping.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'form_data', f: form %>

  <div>
    <%= form.label :order_id, style: "display: block" %>
    <%= form.text_field :order_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
