<div id="<%= dom_id shipping %>">
  <p>
    <strong>Name:</strong>
    <%= shipping.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= shipping.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= shipping.address %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= shipping.date %>
  </p>

  <p>
    <strong>Time from:</strong>
    <%= shipping.time_from %>
  </p>

  <p>
    <strong>Time to:</strong>
    <%= shipping.time_to %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= shipping.order_id %>
  </p>

</div>
