<%= turbo_frame_tag order_status do %>
  <%= form_with(model: order_status ) do |f| %>
      <%= render "shared/errors", object: order_status %>

    <div class="row">
      <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body">
            <div class="hstack gap-3">
                <div class="col-md-5 row">
                  <%= f.label :title, class: "col-sm-4 col-form-label" %>
                  <div class="col-sm-8">
                    <%= f.text_field :title, class: "form-control" %>
                    <%= inline_error_for(:title, order_status)%>
                  </div>
                </div>
                <div class="col-md-3 row" data-controller="color-picker">
                  <%= f.label :color, class: "col-sm-3 col-form-label" %>
                  <div class="col-sm-9">
                    <%= f.hidden_field :color, class: "form-control", data: {"color-picker-target": "input"} %>
                    <%= inline_error_for(:color, order_status)%>
                    <span data-color-picker-target="button"></span>
                  </div>
                </div>
                <div class="col-md-4">
                  <%= f.submit class: "btn btn-primary" %>
                  <%= link_to t('back'), order_statuses_path, class: "btn btn-outline-primary" %>
                </div>
            </div>            
          </div>
          <div class="card-footer">
          </div>
      </div>
    </div>

  <% end %>
<% end %>