<%= turbo_frame_tag order_status, class: "list-group-item py-2 border-start-0 border-end-0", data: {
    sort_url: sort_order_status_path(order_status.id), sort_item_id: order_status.id }  do %>
    <div class="row">
        <%= tag.div(class: "col-1") do %>
            <%= sortable_with_badge(order_status.position)%>
            <%= order_status.id%>
        <% end %>
        <%= tag.div(order_status.title, class: "col-5")%>
        <%= tag.div('', class: "col-4") do %>
            <%= tag.span('', class: 'spinner-grow-static', style: "background-color: #{order_status.color};")%>
        <% end %>
        <div class= "col-1  d-flex justify-content-end gap-2 align-items-center">
             <%= render 'shared/edit_delete_link_turbo', object: order_status %>
        </div>
    </div>
<% end %>