<%= turbo_frame_tag order_status, class: "list-group-item py-2 border-start-0 border-end-0" do %>
    <div class="row">
        <%= tag.div tag.b(order_status.id), class: "col-md-1" %>
        <%= tag.div(order_status.title, class: "col-md-5")%>
        <%= tag.div('', class: "col-md-5") do %>
            <%= tag.span('', class: 'spinner-grow-static', style: "background-color: #{order_status.color};")%>
        <% end %>
        <div class= "col-md-1">
            <%= link_to edit_icon, edit_order_status_path(order_status), class: 'px-2' %>
            <%= link_to trash_icon, order_status, data: { "turbo-method": :delete, confirm: 'Are you sure?' } %>
        </div>
    </div>
<% end %>