<p style="color: green"><%= notice %></p>

<%= render @order_status %>

<div>
  <%= link_to "Edit this order status", edit_order_status_path(@order_status) %> |
  <%= link_to "Back to order statuses", order_statuses_path %>

  <%= button_to "Destroy this order status", @order_status, method: :delete %>
</div>
