<%= form_with(model: okrug) do |f| %>
    <%= render "shared/errors", object: okrug %>

  <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
              <div class="row">
                  <div class="mb-3 col-md-6">
                    <%= f.label :title, class: "form-label" %>
                    <%= f.text_field :title, class: "form-control" %>
                  </div>
              </div>            
            </div>
            <div class="card-footer">
                <%= f.submit class: "btn btn-primary" %>
                <%= link_to t('back'), :back, class: "btn btn-outline-primary" %>
            </div>
        </div>
    </div>
</div>

<% end %>
