<%= turbo_frame_tag okrug, class: "d-flex list-group-item py-2 border-start-0 border-end-0 row", data: {
    sort_url: sort_okrug_path(okrug.id), sort_item_id: okrug.id }  do %>
  <%= tag.div(class: "col-1") do %>
    <%= sortable_with_badge(okrug.position)%>
    <%= okrug.id%>
  <% end %>
    <%= tag.div(okrug.title, class: "col-9")%>
  <div class= "col-2 d-flex justify-content-end gap-2 align-items-center">
    <%= render 'shared/edit_delete_link_turbo', object: okrug %>
  </div>
<% end %>