<%= turbo_frame_tag supply_status, class: "d-flex list-group-item py-2 border-start-0 border-end-0 row", data: {
    sort_url: sort_supply_status_path(supply_status.id), sort_item_id: supply_status.id }  do %>
    <%= tag.div('', class: "col-md-1") do %>
        <i class="bi bi-arrows-move js-sort-handle fs-3"></i>
        <span class="badge bg-info float-end mt-1" data-sortable-target="position"><%= supply_status.position%></span>
    <% end %>
    <%= tag.div tag.b(supply_status.id), class: "col-md-1" %>
    <%= tag.div(supply_status.title, class: "col-md-4")%>
    <%= tag.div('', class: "col-md-4") do %>
        <%= tag.span('', class: 'spinner-grow-static', style: "background-color: #{supply_status.color};")%>
    <% end %>
    <div class= "col-1 d-flex justify-content-end gap-2 align-items-center">
        <%= render 'shared/edit_delete_link', object: supply_status %>
    </div>
<% end %>