<tr id="<%= dom_id characteristic %>">
  <td><b><%= characteristic.id%></b></td>
  <td><%= characteristic.title %></td>
  <td class="text-nowrap d-flex justify-content-end gap-2 align-items-center">
    <%= link_to edit_icon, edit_property_characteristic_path(@property, characteristic), class: '' %>
    <%= link_to trash_icon, [@property, characteristic], data: { "turbo-method": :delete , confirm: 'Are you sure?' } %>
  </td>
</tr>