<%= form_with(model: [@property, @characteristic]) do |f| %>
    
    <%= render "shared/errors", object: @characteristic %>
      <%# form.label :property_id, style: "display: block" %>
      <%# form.number_field :property_id %>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header fw-bold">
                <%= @property.title if @property.present? %>
            </div>
            <div class="card-body">
              <div class="row">
                  <div class="mb-3 col-md-6">
                    <%= f.label :title, class: "form-label" %>
                    <%= f.text_field :title, class: "form-control" %>
                  </div>
              </div>            
            </div>
            <div class="card-footer">
                <%= f.submit class: "btn btn-primary" %>
                <%= link_to t('back'), property_path(@property), class: "btn btn-outline-primary" %>
            </div>
        </div>
    </div>
</div>
<% end %>
