
<%= turbo_frame_tag "offcanvas_history" do %>
  <div class="h2"><%= title @auditable, @auditable_type %></div>

  <%= render "search_form" %>

  <table  class="table">
    <thead>
      <tr>
        <% if @auditable_type.blank? %>
          <th scope="col"><%=t "activerecord.attributes.audit.auditable_type" %></th>
        <% end %>
        <% if @auditable.blank? %>
          <th scope="col"><%=t "activerecord.attributes.audit.auditable" %></th>
        <% end %>
        <th scope="col"><%= sort_link @q, :version, t("activerecord.attributes.audit.version") %></th>
        <th scope="col"><%= sort_link @q, :created_at, t("activerecord.attributes.audit.created_at") %></th>
        <th scope="col"><%=t "activerecord.attributes.audit.action" %></th>
        <th scope="col"><%=t "activerecord.attributes.audit.user" %></th>
        <th colspan="3" scope="col" class="text-center"><%=t "activerecord.attributes.audit.audited_changes" %></th>
        <%# tag.th(t("activerecord.attributes.audit.comment"), scope: "col")%>
      </tr>
      <tr>
        <th scope="col" colspan="<%= 6 - [@auditable_type, @auditable].compact.size %>"></th>
        <th scope="col"><%=t ".attribute" %></th>
        <th scope="col"><%=t ".before" %></th>
        <th scope="col"><%=t ".after" %></th>
        <%# tag.th('', scope: "col")%>
      </tr>
    </thead>
    <tbody>
      <% if @audits.any? %>
        <% @audits.each do |audit| %>
          <% audit.audited_changes.each_with_index do |(attribute, change), i| %>
            <tr>
              <% if i.zero? %>
                <% if @auditable_type.blank? %>
                  <td rowspan="<%= audit.audited_changes.size %>">
                    <%= link_to t("activerecord.models.#{audit.auditable_type.underscore.downcase}"), audited_auditable_type_audits_path(audit.auditable_type.underscore.downcase) %>
                  </td>
                <% end %>
                <% if @auditable.blank? %>
                  <td rowspan="<%= audit.audited_changes.size %>">
                    <%= link_to audit.auditable, audited_auditable_audits_path(auditable_type: audit.auditable_type.underscore.downcase, auditable_id: audit.auditable_id) %>
                  </td>
                <% end %>
                <td rowspan="<%= audit.audited_changes.size %>"><%= audit.version %></td>
                <td rowspan="<%= audit.audited_changes.size %>"><%= audit.created_at %></td>
                <td rowspan="<%= audit.audited_changes.size %>"><%=t ".actions.#{audit.action}" %></td>
                <td rowspan="<%= audit.audited_changes.size %>"><%= audit.user.try(:email) || t(".system") %></td>
              <% end %>
              <td><%=t "activerecord.attributes.#{audit.auditable_type.underscore.downcase}.#{attribute}" %></td>
              <td><%= change.respond_to?('each') ? history_value(attribute, change[0]) : history_value(attribute,change) %></td>
              <td><%= change.respond_to?('each') ? history_value(attribute, change[1]) : history_value(attribute,change) %></td>
              <%# tag.td(audit.comment)%>
            </tr>
          <% end %>
        <% end %>
      <% else %>
        <tr>
          <td colspan="8"><%=t ".empty" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @audits %>
<% end %>
