<div id="<%= dom_id loss_item %>">
  <p>
    <strong>Loss:</strong>
    <%= loss_item.loss_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= loss_item.product_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= loss_item.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= loss_item.price %>
  </p>

  <p>
    <strong>Vat:</strong>
    <%= loss_item.vat %>
  </p>

  <p>
    <strong>Sum:</strong>
    <%= loss_item.sum %>
  </p>

</div>
