<p style="color: green"><%= notice %></p>

<%= render @loss_item %>

<div>
  <%= link_to "Edit this loss item", edit_loss_item_path(@loss_item) %> |
  <%= link_to "Back to loss items", loss_items_path %>

  <%= button_to "Destroy this loss item", @loss_item, method: :delete %>
</div>
