<div class="row col-md-10">
    <div class="mb-3 col-md-4">
    <%= f.label :tip, class: "form-label" %>
    <%= f.select :tip, Templ::TIP, {include_blank: false}, {class: "form-select", selected: f.object.tip.present? ? f.object.tip : Templ::TIP.first, 
                                                                        data: {action: "change->template#change_tip", template_target: "tip"} }%>
    </div>
    <div class="mb-3 col-md-4">
    <%= f.label :modelname, class: "form-label" %>
    <%= f.select :modelname, Templ::MODELNAME, {include_blank: false}, {class: "form-select" }%>
    </div>
    <div class="mb-3 col-md-8">
    <%= f.label :title, class: "form-label" %>
    <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="mb-3 col-md-8 <% if !f.object.tip || f.object.tip == 'simple'%>d-none<%end%>" data-template-target= "attributes">
    <%= f.label :subject, class: "form-label" %>
    <%= f.text_field :subject, class: "form-control" %>
    </div>
    <div class="mb-3 col-md-8 <% if !f.object.tip || f.object.tip == 'simple'%>d-none<%end%>" data-template-target= "attributes">
    <%= f.label :receiver, class: "form-label" %>
    <%= f.select :receiver, Templ::RECEIVER , {}, {class: "form-select" }%>
    </div>
    <div class="mb-3 col-md-12">
    <%= f.label :content, class: "form-label" %>
    <%= f.text_area :content, class: "form-control", rows: "30" %>
    </div>
</div>            
