<div class="row index-head mb-3">
  <div class="col-md-6 index-head__title">
    <h1 class="h3 d-inline align-middle"><%= Templ.model_name.human(count: 2)%></h1>
  </div>
  <div class="col-md-6 d-flex justify-content-end index-head__buttons">
    <%= render 'shared/index_filter' if lookup_context.find_all("templs/_filter").any? %>
    <%= link_to arrow_clockwise_icon, templs_path, class: 'btn btn-outline-primary me-2' %>
    <%= link_to add_icon, new_templ_path, class: "btn btn-primary float-end" %>
  </div>
</div>

<%= render 'filter', q: @search, title: "#{Templ.model_name.human} фильтр" if lookup_context.find_all("templs/_filter").any?  %>

<div class="card">
  <div class="card-header pb-0">
    <h5 class="card-title mb-0">Всего: <%= Templ.all.count %></br><%= "Выбрано: "+@templs.total_entries.to_s if @templs.size > 0 &&  @templs.size != Templ.all.count %></h5>
  </div>
  <div class="card-body">

    <%= tag.div id: 'datatables-templs_wrapper' do %>  
      <%=turbo_stream_from "templs" %>     

      <%=turbo_frame_tag 'templs', class:"table d-table" do %>
        <%=tag.div class:"d-table-row" do %>  
          <%=tag.div('#', class: 'd-table-cell fw-semibold')%>
          <%=tag.div( t('helpers.label.templ.tip'), class: 'd-table-cell fw-semibold' )%>
          <%=tag.div( t('helpers.label.templ.modelname'), class: 'd-table-cell fw-semibold' )%>
          <%=tag.div( t('helpers.label.templ.title'), class: 'd-table-cell fw-semibold' )%>
          <%=tag.div( t('helpers.label.templ.subject'), class: 'd-table-cell fw-semibold' )%>
          <%=tag.div( t('helpers.label.templ.receiver'), class: 'd-table-cell fw-semibold' )%>
          <%=tag.div( t('helpers.label.templ.content'), class: 'd-table-cell fw-semibold' )%>
          <%=tag.div('', class: 'd-table-cell fw-semibold')%>
        <%end %>
        <%= render @templs %>
      <% end %>
      
      <%= render "shared/paginate", f: @templs %>
    <% end %>

  </div>
</div>
