<%= turbo_frame_tag prop do %>
    <div class="row" >
        <div class="mb-3 col-md-3 d-none">
            <%= prop.product_id%>
        </div>
        <div class="mb-3 col-md-3">
            <%= prop.property.title.to_s%>
        </div>
        <div class="mb-3 col-md-3">
            <%= prop.property.c_val(prop.characteristic_id).title.to_s if prop.present? %>
        </div>
        <div class="mb-3 col-md-3">
            <%= render 'shared/edit_delete_link', object: prop %>
        </div>
    </div>
<% end %>
