<tr id="<%= dom_id detal %>">
    <td><b><%= detal.id%></b></td>
    <td><%= detal.sku %></td>
    <td><%= detal.title %></td>
    <td><%= detal.description %></td>
    <%= td_index_edit_delete_link(detal)%>
</tr>