<tr id="<%= dom_id detal %>">
    <td><b><%= detal.id%></b></td>
    <td><%= detal.sku %></td>
    <td><%= detal.title %></td>
    <td><%= detal.description %></td>
    <td class="text-nowrap"><%= render 'shared/edit_delete_link', object: detal %></td>
</tr>