<div class="row index-head mb-3">
  <div class="col-md-6 index-head__title">
    <h1 class="h3 d-inline align-middle"><%= Detal.model_name.human(count: 2)%></h1>
  </div>
  <div class="col-md-6 d-flex justify-content-end index-head__buttons">
    <%= render 'shared/index_filter' if lookup_context.find_all("detals/_filter").any? %>
    <%= link_to arrow_clockwise_icon, detals_path, class: 'btn btn-outline-primary me-2' %>
    <%= link_to add_icon, new_detal_path, class: "btn btn-primary" %>
  </div>
</div>
<%= render 'filter', q: @search, title: 'Incase filter' if lookup_context.find_all("detals/_filter").any? %>

<div class="card">
  <div class="card-header pb-0">
    <div class="card-actions float-end">
      <div class="dropdown position-relative">
        <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
          <%= more_icon%>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a href="#" class="dropdown-item">test</a>
          <%# link_to '.xlsx', detals_path(request.parameters.merge(format: 'zip')), class:"dropdown-item", data: {turbo_prefetch: false} %>
        </div>
      </div>
    </div>
    <h5 class="card-title mb-0"></h5>
  </div>
  <div class="card-body">
    <div id="datatables-detals_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
      <div class="row">
        <div class="col-sm-12">
          <table id="datatables-detals" class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th><%= t('helpers.label.detal.sku')%></th>
                <th><%= t('helpers.label.detal.title')%></th>
                <th><%= t('helpers.label.detal.description')%></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @detals.each do |detal| %>
                  <%= render detal %>
              <% end %>
              </tbody>
          </table>
        </div>
      </div>
      
      <%= render "shared/paginate", f: @detals %>
    </div>
  </div>
</div>
