<div class="mb-3">
  <h1 class="h3 d-inline align-middle"><%= Notification.model_name.human(count: 2)%></h1>
</div>

<div class="card">
    <div class="card-header pb-0">
    <div class="card-actions float-end">
        <div class="dropdown position-relative">
        <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
            <%= more_icon%>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
            <a href="#" class="dropdown-item">test</a>
        </div>
        </div>
    </div>
    <h5 class="card-title mb-0">
        <%= turbo_stream_from current_user, "notifications_index_list_count_#{current_user.id}" %>
        <%= turbo_frame_tag "notification_index_list_count" do %>
            <%= render partial: "notifications/index_list_count",
            locals: { count: current_user.notifications.count, unread: current_user.notifications.unread.count } %>
        <% end %>
    </h5>
    </div>
    <div class="card-body">
        <div class="col-sm-12 list-group list-group-striped">
            <div class="row py-2 px-4 justify-content-between align-items-center">
                <%= tag.div( t( 'helpers.label.notification.message'), class: 'col-md-6 fw-semibold' )%>
                <%= tag.div( t( 'helpers.label.notification.created_at'), class: 'col-md-3 fw-semibold' )%>
                <%= tag.div( t( 'helpers.label.notification.status'), class: 'col-1 fw-semibold' )%>
                <%= tag.div( '', class: 'col-2' )%>
            </div>
            <%= turbo_stream_from current_user, "notifications_index_list_#{current_user.id}" %>
            <%= turbo_frame_tag "notifications" do %>
                <% @notifications.each do |notification| %>
                    <%= render partial: "notifications/notification", locals: {notification: notification}%>
                <% end %>
            <% end %>
        </div>
        
        <%= render "shared/paginate", f: @notifications %>
    </div>
</div>
