<%= form_with(model: action) do |form| %>
      <%= render "shared/errors", object: action %>

<%= render 'form_data', f: f %>
  <div>
    <%= form.label :trigger_id, style: "display: block" %>
    <%= form.number_field :trigger_id %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
