<tr id="<%= dom_id product %>">
  <td><%= check_box_tag "product_ids[]", product.id, false, {class: 'checkboxes form-check-input', data: { 'selectall_target': 'checkbox', action: "change->selectall#toggleParent"}, form: :bulk_action_form } %></td>
  <%= tag.td tag.b(product.id) %>
  <%= tag.td(product.title) %>
  <%= tag.td(product.stocks.plus) %>
  <%= tag.td(product.stocks.minus) %>
  <%= tag.td(product.stocks.amount) %>
  <%# td_index_edit_delete_link(product)%>
</tr>