<div id="<%= dom_id stock %>">
  <p>
    <strong>Product:</strong>
    <%= stock.product_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= stock.user_id %>
  </p>

  <p>
    <strong>Stockable:</strong>
    <%= stock.stockable_id %>
  </p>

  <p>
    <strong>Move:</strong>
    <%= stock.move %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= stock.value %>
  </p>

</div>
