<div class="row index-head mb-3">
  <div class="col-md-6 index-head__title">
    <h1 class="h3 d-inline align-middle"><%= Stock.model_name.human(count: 2)%></h1>
  </div>
  <div class="col-md-6 d-flex justify-content-end index-head__buttons">
  <%= form_with url: bulk_print_products_path, method: :post, id: :bulk_action_form  do |f| %>
    <%# if Templ.product_print.presence %>
      <%# button_print %>
      <%#tag.ul class: "dropdown-menu" do %>
        <%# Templ.product_print.each do |templ|%>
          <%# f.button type: :submit, value: "templ_id##{templ.id}", class: "dropdown-item" do %>
            <%# templ.title %>
          <%# end %>
        <%# end %>
      <%# end %>
    <%# end %>
    <%= render 'shared/download_excel_buttons', f: f, object: Stock.new %>
  <% end %>

    <%= render 'shared/index_filter' if lookup_context.find_all("products/_filter").any? %>
    <%= link_to arrow_clockwise_icon, stocks_path(search_cancel: true), class: 'btn btn-outline-primary me-2', data: {turbo: false}  %>
    <%# link_to add_icon, new_product_path, class: "btn btn-primary" %>
  </div>
</div>

<%= render 'filter', q: @search, title: 'stocks filter' if lookup_context.find_all("stocks/_filter").any?%>

<div class="card">
  <div class="card-header pb-0">
    <div class="card-actions float-end">
      <div class="dropdown position-relative">
        <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
          <%= more_icon%>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <%# link_to '.xlsx', stocks_path(request.parameters.merge(format: 'zip')), class:"dropdown-item", data: {turbo_prefetch: false} %>
        </div>
      </div>
    </div>
    <h5 class="card-title mb-0"></h5>
  </div>
  <div class="card-body">
    <%= turbo_frame_tag :stocks, data: { }, class: "table d-table" do %>
      <%= tag.div class:"d-table-row" do %>
        <%= tag.div("", class: "d-table-cell fw-bold")%>
        <%= tag.div(class: "d-table-cell") do %>
          <%=tag.div(t('#'), class: "fw-bold d-flex justify-content-center")%>
        <%end%>
        <%= tag.div(class: "d-table-cell")  do %>
          <%=tag.div(t('helpers.label.stock.title'), class: "fw-bold d-flex justify-content-center")%>
        <%end%>
        <%= tag.div(class: "d-table-cell")  do %>
          <%=tag.div(t('helpers.label.stock.plus'), class: "fw-bold d-flex justify-content-center")%>
        <%end%>
        <%= tag.div(class: "d-table-cell")  do %>
          <%=tag.div(t('helpers.label.stock.minus'), class: "fw-bold d-flex justify-content-center")%>
        <%end%>
        <%= tag.div(class: "d-table-cell")  do %>
          <%=tag.div(t('helpers.label.stock.amount'), class: "fw-bold d-flex justify-content-center")%>
        <%end%>
      <% end %>
      <% @stocks.each do |variant| %>
        <%= render partial: "stocks/stock", locals: {variant: variant} %>
      <% end %>
    <% end %>

    <%= render "shared/paginate", f: @stocks %>

  </div>
</div>
