<%= form_with(model: user, data: {controller: 'user', 'user-dnone-class': 'd-none'}) do |f| %>
    <%= render "shared/errors", object: @user%>

    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body row">
                    <%= render 'form_data', f: f %>
                    <%= render 'nested_permission', f: f if !f.object.new_record?%>
                </div>
                
                <div class="card-footer">
                    <%= f.submit class: "btn btn-primary" %>
                    <%= link_to t(:back), users_path, class: "btn btn-outline-primary" %>
                </div>
            </div>
        </div>
    </div>
<% end %>