<div class="mb-3 col-md-4">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
</div>
<div class="mb-3 col-md-4">
    <%= f.label :phone, class: "form-label" %>
    <%= f.text_field :phone, class: "form-control", placeholder: '89991234567'%>
</div>
<div class="mb-3 col-md-4">
    <%= f.label :email, class: "form-label" %>
    <%= f.text_field :email, class: "form-control" %>
</div>
<% if f.object.new_record? %>
<div class="mb-3 col-md-6">
    <%= f.label :password, class: "form-label" %>
    <%=f.password_field :password, class: "form-control" %>
</div>
<div class="mb-3 col-md-6">
    <%= f.label :password_confirmation, class: "form-label" %>
    <%=f.password_field :password_confirmation, class: "form-control" %>
</div>
<% end %>
<div class="mb-3 col-md-4">
    <%= f.label :role, class: "form-label" %>
    <%= f.select :role, User::ROLE, {}, {  class: "form-select", data: {action: "change->user#change_role", user_target: "role"} } %>
</div>
<div class="mb-3 col-md-4">
    <%= f.label :telegram, class: "form-label" %>
    <%=f.text_field :telegram, class: "form-control" %>
</div>
<div class="d-flex <%=h_v_center%>% col-md-2 form-check form-switch">
    <%= f.check_box :notified, {class: "form-check-input", role: "switch"} %>
    <%= f.label 'Вкл оповещение?', class: "ms-2 form-check-label"%>
</div>



