<div class="row mt-2 <% if f.object.role == 'admin' %>d-none<%end%>" id="wrap-nested-permissions" data-user-target= "nested">
<div class="h3 my-3">Доступ</div>
    <%= f.fields_for :permissions do |ff| %>
        <div class="mb-3 col-md-4">
            <div class="h4"><%= ff.object.pmodel.singularize.classify.constantize.model_name.human(count: 2).capitalize %></div>
            <%= ff.hidden_field :pmodel, value: ff.object.pmodel %>

            <% Permission::ACTIONS.each do |action| %>
                <%=tag.div class: 'form-check-inline me-1' do %>
                    <%=ff.check_box :pactions, { multiple: true, class: 'form-check-input' }, action, nil %>
                    <%=ff.label action, class: 'form-check-label' %>
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>
