

<div class="row">
    
    <% Permission.all_models.each do |pmodel| %>
    <div class="col-md-6 my-2">
      <div class="h5"><%= pmodel%></div>
    <div class="input-group my-2">
    <%= f.fields_for :permissions do |permission| %>
             <%= permission.hidden_field :user_id, value: f.object.present? ? f.object.id : nil %>
            <%= permission.hidden_field :pmodel, value: pmodel %>   

        <% Permission::Actions.each do |action| %>
        <div class="form-check form-check-inline ps-0">
            <%= permission.check_box :paction, { multiple: false, checked: permission.object.paction&.include?(action.to_s) }, action, nil %>
            <%= permission.label action %>
        </div>
         <% end %>
    </div>
    </div>
    <% end %>
        <% end %>

</div>
