<%= form_with(model: @user, url: users_admin_create_path, data: {controller: 'user', 'user-dnone-class': 'd-none'}) do |f| %>
    <%= render "shared/errors", object: @user%>

    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body row">
                    <%= render 'form_user_data', f: f%>
                    <%= render 'form_nested_permission', f: f %>
                </div>
                <div class="card-footer">
                    <%= f.submit class: "btn btn-primary" %>
                    <%= link_to "Back", users_path, class: "btn btn-outline-primary" %>
                </div>
            </div>
        </div>
    </div>
<% end %>
