<%= turbo_frame_tag placement do %>
  <%= form_with(  model: placement) do |f| %>
    <%= render 'shared/errors', object: placement %>

        <div class="card">
          <div class="card-header pb-0">
            <%= f.label :warehouse_id, class: "form-label" %>
          </div>
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-4 d-flex flex-column">
                <% warehouse_id = f.object.present? && f.object.warehouse_id ? f.object.warehouse_id : params[:warehouse_id] %>
                <button type="button" class="btn border-light text-start bg-light" disabled">
                  <%= Warehouse.find(warehouse_id).title %>
                </button>
                <%= f.hidden_field :warehouse_id %>
              </div>
              <div class="col-2">
                <%= link_to add_icon, new_nested_placements_path(warehouse_id: params[:warehouse_id].present? ? params[:warehouse_id] : placement.warehouse_id), 
                                      class: "btn btn-primary float-start", data: { turbo_stream: true } %>
              </div>
            </div>
            <div class="row py-2 px-0">
                <%= tag.div(t('helpers.label.location.product_id'), class: 'col-7 fw-semibold')%> 
                <%= tag.div( t('helpers.label.location.place_id'), class: 'col-2 fw-semibold' )%>
                <%= tag.div( t('helpers.label.location.comment'), class: 'col-2 fw-semibold' )%>
                <%= tag.div('', class: 'col fw-semibold')%>
            </div>
              <%= turbo_frame_tag :locations, :placement, class: "" do %>
                <%= f.fields_for :locations do |ff| %>
                  <%= render "locations/form_data", f: ff, variant: nil, warehouse_id: params[:warehouse_id].present? ? params[:warehouse_id] : placement.warehouse_id %>
                <% end %>
              <% end %>
          </div>
          <div class="card-footer">
            <%= f.submit t('save'),class: "btn btn-primary", data: {turbo_frame: "_top"} %>
            <%= link_to t('back'), placements_path, class: "btn btn-outline-primary", data: {turbo_frame: "_top"} %>
          </div>
        </div>

  <% end %>
<% end %>
