<div class="row index-head mb-3">
  <div class="col-md-6 index-head__title">
    <h1 class="h3 d-inline align-middle"><%= Placement.model_name.human(count: 2)%></h1>
  </div>
  <div class="col-md-6 d-flex justify-content-end index-head__buttons">
  <%= form_with url: download_placements_path, method: :post, id: :bulk_action_form  do |f| %>
    <%= f.button type: :submit, class: "btn btn-outline-primary me-1", id: 'download-excel' do %>.xlsx<% end%>
  <% end %>
    <%= link_to arrow_clockwise_icon, products_path, class: 'btn btn-outline-primary me-2' %>
    <%# link_to add_icon, new_placement_path, class: "btn btn-primary" %>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <%= add_icon %>
      </button>
      <ul class="dropdown-menu">
        <% Warehouse.all.each do |ware|%>
          <%= link_to ware.title, new_placement_path(warehouse_id: ware.id), class: "dropdown-item" %>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-header pb-0">
    <div class="card-actions float-end">
      <div class="dropdown position-relative">
        <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
          <%= more_icon%>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a href="#" class="dropdown-item">test</a>
        </div>
      </div>
    </div>
    <h5 class="card-title mb-0" id="count_info"></h5>
  </div>
  <div class="card-body">
    <div id="datatables-products" class="col-sm-12 list-group list-group-striped" data-controller="selectall">
      <div class="row py-2 px-0 justify-content-between align-items-center">
        <%= div_check_box_tag_all %>
        <%= tag.div( t( 'helpers.label.placement.created_at'), class: 'col-3 fw-semibold' )%>
        <%= tag.div( t( 'helpers.label.placement.warehouse_id'), class: 'col-3 fw-semibold' )%>
        <%= tag.div( t( 'helpers.label.placement.items_quantity'), class: 'col-3 fw-semibold' )%>
        <%= tag.div('', class: 'col fw-semibold')%>
      </div>
      <%= turbo_stream_from "placements" %>
      <%= turbo_frame_tag 'placements' do %>
          <%= render @placements %>
      <% end %>
    </div>
    
    <%= render "shared/paginate", f: @placements %>
  </div>
</div>
