<p style="color: green"><%= notice %></p>

<%= render @stock_transfer_status %>

<div>
  <%= link_to "Edit this stock transfer status", edit_stock_transfer_status_path(@stock_transfer_status) %> |
  <%= link_to "Back to stock transfer statuses", stock_transfer_statuses_path %>

  <%= button_to "Destroy this stock transfer status", @stock_transfer_status, method: :delete %>
</div>
