<tr id="<%= dom_id property %>">
    <td><b>#<%= property.id%></b></td>
    <td><%= property.title %><%= link_to '<i data-feather="edit-2"></i>'.html_safe, edit_property_path(property), class: 'px-2' %></td>
    <td>
        <%= property.characteristics.pluck(:title).join(',') if  property.characteristics %>
        <%= link_to '<i data-feather="plus-circle"></i>'.html_safe, new_property_characteristic_path(property) %>
    </td>
    <td>
        <%= link_to '<i data-feather="eye"></i>'.html_safe, property, class: 'px-2' %>
        <%= link_to '<i data-feather="trash-2"></i>'.html_safe, property, data: { "turbo-method": :delete, confirm: 'Are you sure?' } %>
    </td>
</tr>