<div class="row index-head mb-3">
  <div class="col-md-6 index-head__title">
    <h1 class="h3 d-inline align-middle"><%= Property.model_name.human(count: 2)%></h1>
  </div>
  <div class="col-md-6 d-flex justify-content-end index-head__buttons">
    <%= link_to add_icon, new_property_path, class: "btn btn-primary" %>
  </div>
</div>


<div class="card">
  <div class="card-header pb-0">
    <div class="card-actions float-end">
      <div class="dropdown position-relative">
        <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
          <%= more_icon%>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a href="#" class="dropdown-item">test</a>
        </div>
      </div>
    </div>
    <h5 class="card-title mb-0"></h5>
  </div>
  <div class="card-body">
    <div id="datatables-products_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
    <div class="row">
      <div class="col-sm-12">
        <table id="datatables-properties" class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Название</th>
              <th>Значения</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <%= turbo_frame_tag 'properties' do %>
              <%= render @properties %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
      
      <%= render "shared/paginate", f: @properties %>
    </div>
  </div>
</div>
