
<%= link_to "<i data-feather='plus'></i> значение".html_safe, new_property_characteristic_path(@property), class: "btn btn-primary float-end mt-n1" %>
<div class="mb-3">
  <%= link_to t('back'), properties_path, class: "btn btn-outline-primary" %>
  <h1 class="h3 d-inline align-middle px-3"><%= Property.model_name.human.capitalize %>: <%= @property.title%></h1>
</div>

<div class="row">
  <div class="col-md-12">
      <div class="card">
          <div class="card-header">
          <h5 class="card-title mb-0">Список значений</h5>
          </div>
          <div class="card-body dataTables_wrapper">
            <div class="row">
                <div class="col-9">
                </div>
                <%= search_form_for @search, {url: property_path(@property), class: 'form-inline col-sm-12 col-md-3 pl-0 pr-0'} do |f| %>
                  <div class="input-group input-group-sm">
                    <%= f.search_field :title_cont , placeholder: 'Название', class: "form-control col-4 flex-end"%>
                    <%= button_tag(type: 'submit', :class => "btn btn-info") do %><i data-feather="search"></i><% end %>
                    <%= link_to '<i data-feather="refresh-cw"></i>'.html_safe, property_path(@property), class: 'btn btn-outline-dark ' %>
                  </div>
                <% end %>
            </div>
            <div class="row">
              <div class="mb-3 col-md-12">
                <table class="table table-striped">    
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Название</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <%= turbo_frame_tag 'characteristics' do %>
                    <%= render @characteristics %>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row paginate-wrap">
              <%= render "shared/paginate", f: @characteristics %>
            </div>
          </div>
          <div class="card-footer">
            <%= link_to t('back'), properties_path, class: "btn btn-outline-primary" %>
          </div>
      </div>
  </div>
</div>


<%# render @property %>

<%# link_to "Edit this property", edit_property_path(@property) %> 
<%# link_to "Back to properties", properties_path %>

<%# button_to "Destroy this property", @property, method: :delete %>
