<% child_index = f.object.new_record? && child_index.nil? ?  Time.now.to_i : child_index %>
<%= turbo_frame_tag "enter_item_#{ f.object.persisted? ? f.object.id : child_index}", 
                    class: "d-flex justify-content-center align-items-center py-1 border-start-0 border-end-0 px-2 bg-light row" do %>
   <%= f.hidden_field :id %> 
    <%= tag.div class: "col-7 p-0 m-0" do %>
        <% start_variant_id = f.object.variant_id if f.object.present? %>
        <% variant_id = variant.present? ? variant.id : start_variant_id %>
        <% selected = Product.collection_for_select(variant_id).first if variant_id %>
        <%= f.select :variant_id, options_for_select(Product.collection_for_select(variant_id), selected: selected ),
                                {include_blank: true}, { class: "rounded-0", data: { controller: 'slimselect', 
                                                        search_url:  "/products/search",
                                                        nested_url:  "/enters/slimselect_nested_item",
                                                        action: "change->calculate#recalculate" } } %>
    <% end %>

    <%= tag.div class: "col-1 p-0 m-0" do %>
        <% start_quantity = f.object.quantity.present? ? f.object.quantity : 0 %>
        <% quantity = variant.present? ? 0 : start_quantity %>
        <%= f.number_field :quantity,   class: "form-control rounded-0", min: "0", value: quantity,
                                        data: { action: "change->calculate#recalculate", calculate_target: "qty" } %>
    <% end %>

    <%= tag.div class: "col-1 p-0 m-0" do %>
        <% start_price = f.object.price.present? ? f.object.price : 0 %>
        <% price = variant.present? ? variant.price : start_price %>
        <%= f.number_field :price,  class: "form-control rounded-0 disabled", readonly: true, value: price, min: "0",
                                    data: { action: "change->calculate#recalculate", calculate_target: "price" } %>
    <% end %>

    <%# tag.div class: "col-1 p-0 m-0" do %>
        <%# f.number_field :discount, class: "form-control rounded-0 disabled", disabled: true, data: { calculate_target: "discount" } %>
    <%# end %>

    <%= tag.div class: "col-1 p-0 m-0" do %>
        <%= f.number_field :vat, class: "form-control rounded-0 disabled", disabled: true, data: { calculate_target: "vat" } %>
    <% end %>

    <%= tag.div class: "col-1 p-0 m-0" do %>
        <% start_sum = f.object.sum.present? ? f.object.sum : 0 %>
        <% sum = variant.present? ? 0 : start_sum %>
        <%= f.number_field :sum, min: "0", class: "form-control rounded-0 disabled", readonly: true,
                                                data: { calculate_target: "sum" }, value: sum %>
    <% end %>
    
    <div class="col p-0 d-flex justify-content-center">
        <%= link_to trash_icon, remove_nested_enters_path(enter_item_id: f.object.id, remove_element: "enter_item_#{ f.object.persisted? ? f.object.id : child_index }"),class: "col-1",
                                data: {  turbo_method: :post,  turbo_confirm: "Are you sure?"}  %>
    </div>

<% end %>