<% if @product.images.present? %>
<div class="image-table row mt-3" data-controller="sortable toast" data-action="sortable:move->toast#show" id="images_product_<%=@product.id%>">
  <% @product.images.each do |image| %>
    <div class="col-4 p-2 borde border-info" data-sort-item-id="<%= image.blob_id%>" data-sort-url="<%= reorder_image_product_path(@product.id) %>">
      <div class="row align-items-center image-item">
        <div class="col">
          <i class="bi bi-arrows-move js-sort-handle fs-3"></i>
          <span class="badge bg-info float-end mt-1" data-sortable-target="position"><%= image.position%></span>
        </div>
        <div class="col">
          <%= image_tag image.variant(:thumb) %>
        </div>
        <div class="col text-center">
          <%= image.filename.to_s %>
        </div>
        <div class="col mt-2 text-center">
          <%= link_to '<i class="bi bi-trash3"></i>'.html_safe, delete_image_products_path(@product.id, image.id), data: {  turbo_method: :delete,  turbo_confirm: "Are you sure?"}  %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% end %>
