<% if !f.new_record? && f.images.present? %>
<div class="image-table row mt-3" data-controller="sortable toast" data-action="sortable:move->toast#show" data-sort-url="/products/<%=f.id%>/reorder_image">
  <% f.images.each do |image| %>
  <div class="col-4 p-2 borde border-info" data-image-blob-id="<%= image.blob_id%>">
    <div class="row align-items-center image-item">
  <div class="col">
    <i class="bi bi-arrows-move js-sort-handle fs-3"></i>
    <span class="badge bg-info float-end mt-1" data-sortable-target="position"><%= image.position%></span>
  </div>
      <div class="col">
        <%= image_tag image.variant(:thumb) %>
      </div>
      <div class="col mt-2 text-center">
        <%= link_to '<i class="align-middle me-2 fas fa-fw fa-trash"></i>'.html_safe, delete_image_products_path(f.id, image.id), data: {  turbo_method: :delete,  turbo_confirm: "Are you sure?"}  %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
