<div class="row">
    <div class="col-12">
        <div class="h5">Основные операции</div>
        <table class="table table-striped-columns">
            <tbody>
                <tr>
                <td><code>==</code></td>
                <td>equals</td>
                <td><code>!=</code></td>
                <td>does not equal</td>
                </tr>
                <tr>
                <td><code>&gt;</code></td>
                <td>greater than</td>
                <td><code>&lt;</code></td>
                <td>less than</td>
                </tr>
                <tr>
                <td><code>&gt;=</code></td>
                <td>greater than or equal to</td>
                <td><code>&lt;=</code></td>
                <td>less than or equal to</td>
                </tr>
                <tr>
                <td><code>or</code></td>
                <td>logical or</td>
                <td><code>and</code></td>
                <td>logical and</td>
                </tr>
                <tr>
                <td><code>contains</code></td>
                <td>checks for the presence of a substring inside a string</td>
                <td><code>формат даты</code></td>
                <td>date.strftime("%d/%m/%Y")</td>
                </tr>
                <td><code>truncate</code></td>
                <td colspan=3>{{ "Ground control to Major Tom." | truncate: 20 }} => Ground control to...</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12 my-3">
        <div class="h5">Пример</div>
        <code>{% if incase.strah['title'] == 'Альфа' and incase.totalsum == 0 and incase.items_statuses contains 'Нет' %} {{do_work}} {% endif %}</code>
    <code>{% if incase_item.status_nil? %}{{do_work}}{%end%}</code>
    </div>
    <div class="col-6">
        <%= tag.div("#{Incase.model_name.human(count: 2)} (incase)", class: "h5")%>

        <div class="table-responsive">
            <table class="table table-striped-columns">
                <thead>
                    <tr>
                        <th scope="col">значение</th>
                        <th scope="col">описание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">region</td>
                        <td><%= t('helpers.label.incase.region')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">strah</td>
                        <td><%= t('helpers.label.incase.strah_id') %> (title, ur_address)</td>
                    </tr>
                    <tr class="">
                        <td scope="row">stoanumber</td>
                        <td><%= t('helpers.label.incase.stoanumber')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">unumber</td>
                        <td><%= t('helpers.label.incase.unumber')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">unumber_uniq?</td>
                        <td><%= t('helpers.label.incase.unumber')%> uniq?</td>
                    </tr>
                    <tr class="">
                        <td scope="row">unumber_not_uniq?</td>
                        <td><%= t('helpers.label.incase.unumber')%> not uniq?</td>
                    </tr>
                    <tr class="">
                        <td scope="row">company</td>
                        <td><%= t('helpers.label.incase.company_id')%> (title, ur_address)</td>
                    </tr>
                    <tr class="">
                        <td scope="row">carnumber</td>
                        <td><%= t('helpers.label.incase.carnumber')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">date</td>
                        <td><%= t('helpers.label.incase.date')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">modelauto</td>
                        <td><%= t('helpers.label.incase.modelauto')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">totalsum</td>
                        <td><%= t('helpers.label.incase.totalsum')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">status</td>
                        <td><%= t('helpers.label.incase.incase_status_id')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">tip</td>
                        <td><%= t('helpers.label.incase.incase_tip_id')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">items</td>
                        <td> позиции убытка ( i['title'] , i['katnumber'] )</td>
                    </tr>
                     <tr class="">
                        <td scope="row">items_statuses</td>
                        <td>статусы позиций убытка</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="col-6">
        <%= tag.dev("#{Order.model_name.human(count: 2)} (order)", class: 'h5')%>
        <div class="table-responsive">
            <table class="table table-striped-columns">
                <thead>
                    <tr>
                        <th scope="col">значение</th>
                        <th scope="col">описание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">status</td>
                        <td><%= t('helpers.label.order.status')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">client</td>
                        <td><%= t('helpers.label.order.client_id') %></td>
                    </tr>
                    <tr class="">
                        <td scope="row">payment_type</td>
                        <td><%= t('helpers.label.order.payment_type_id') %></td>
                    </tr>
                    <tr class="">
                        <td scope="row">delivery_type</td>
                        <td><%= t('helpers.label.order.delivery_type_id')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">totalsum</td>
                        <td><%= t('helpers.label.order.totalsum')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">items</td>
                        <td>позиции ("title","price","discount","sum","quantity","vat")</td>
                    </tr>
                    <tr class="">
                        <td scope="row">seller</td>
                        <td>продавец ("title","short_title","inn","kpp","ur_address", "fact_address", "ogrn", "okpo", "bik", "bank_title", "bank_account")</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-6">
        <%= tag.div("#{Product.model_name.human(count: 2)} (product)", class: 'h5')%>
        <div class="table-responsive">
            <table class="table table-striped-columns">
                <thead>
                    <tr>
                        <th scope="col">значение</th>
                        <th scope="col">описание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">title</td>
                        <td><%= t('helpers.label.product.title')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">description</td>
                        <td><%= t('helpers.label.product.description')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">video</td>
                        <td><%= t('helpers.label.product.video')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">properties</td>
                        <td>[{title: 'test title', value: 'test value'}]</td>
                    </tr>
                    <tr class="">
                        <td scope="row">images</td>
                        <td>['http://test.com/test.jpg','http://test.com/test1.jpg']</td>
                    </tr>
                    <tr class="">
                        <td scope="row">variants</td>
                        <td><%= t('helpers.label.product.sku')%> ("sku","price","barcode","png_barcode","quantity","costprice") </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-6">
        <%= tag.dev("#{Supply.model_name.human(count: 2)} (supply)", class: 'h5')%>
        <div class="table-responsive">
            <table class="table table-striped-columns">
                <thead>
                    <tr>
                        <th scope="col">значение</th>
                        <th scope="col">описание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">status</td>
                        <td><%= t('helpers.label.supply.status')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">title</td>
                        <td><%= t('helpers.label.supply.title')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">number</td>
                        <td><%= t('helpers.label.supply.number')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">in_date</td>
                        <td><%= t('helpers.label.supply.in_date')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">manager</td>
                        <td><%= t('helpers.label.supply.manager')%></td>
                    </tr>

                    <tr class="">
                        <td scope="row">company</td>
                        <td><%= t('helpers.label.supply.company') %></td>
                    </tr>
                    <tr class="">
                        <td scope="row">totalsum</td>
                        <td><%= t('helpers.label.supply.totalsum')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">items</td>
                        <td>позиции ("warehouse","title","price","sum","quantity","vat")</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-6">
        <%= tag.dev("#{Invoice.model_name.human(count: 2)} (invoice)", class: 'h5')%>
        <div class="table-responsive">
            <table class="table table-striped-columns">
                <thead>
                    <tr>
                        <th scope="col">значение</th>
                        <th scope="col">описание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">status</td>
                        <td><%= t('helpers.label.invoice.status')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">number</td>
                        <td><%= t('helpers.label.invoice.number')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">client</td>
                        <td><%= t('helpers.label.invoice.client_id') %></td>
                    </tr>
                    <tr class="">
                        <td scope="row">company</td>
                        <td><%= t('helpers.label.invoice.company_id') %></td>
                    </tr>
                    <tr class="">
                        <td scope="row">totalsum</td>
                        <td><%= t('helpers.label.invoice.totalsum')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">items</td>
                        <td>позиции ("title","price","discount","sum","quantity","vat")</td>
                    </tr>
                    <tr class="">
                        <td scope="row">seller</td>
                        <td>продавец ("title","short_title","inn","kpp","ur_address", "fact_address", "ogrn", "okpo", "bik", "bank_title", "bank_account")</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

        <div class="col-6">
        <%= tag.dev("#{Return.model_name.human(count: 2)} (return)", class: 'h5')%>
        <div class="table-responsive">
            <table class="table table-striped-columns">
                <thead>
                    <tr>
                        <th scope="col">значение</th>
                        <th scope="col">описание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">status</td>
                        <td><%= t('helpers.label.return.status')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">number</td>
                        <td><%= t('helpers.label.return.number')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">client</td>
                        <td><%= t('helpers.label.return.client_id') %></td>
                    </tr>
                    <tr class="">
                        <td scope="row">company</td>
                        <td><%= t('helpers.label.return.company_id') %></td>
                    </tr>
                    <tr class="">
                        <td scope="row">totalsum</td>
                        <td><%= t('helpers.label.return.totalsum')%></td>
                    </tr>
                    <tr class="">
                        <td scope="row">items</td>
                        <td>позиции ("title","price","discount","sum","quantity","vat")</td>
                    </tr>
                    <tr class="">
                        <td scope="row">seller</td>
                        <td>продавец ("title","short_title","inn","kpp","ur_address", "fact_address", "ogrn", "okpo", "bik", "bank_title", "bank_account")</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>