<td><b><%= client.id%></b></td>
<td><%= client.surname%></td>
<td><%= client.name%></td>
<td><%= client.middlename%></td>
<td><%= client.phone%></td>
<td><%= client.email%></td>
<td><%= client.created_at.strftime("%d/%m/%Y")%></td>
<%= td_index_edit_delete_link(client)%>

