<%= form_with(  model: client) do |f| %>
    <%= render 'shared/errors', object: client%>

    <div class="card">
        <div class="card-header"><h4 class="text-capitalize"><%= title %></h4></div>
        <div class="card-body pt-0">
            <%= render 'form_data', f: f %>
        </div>
        <div class="card-footer">
            <div class="my-3 col-12 d-flex justify-content-end gap-2 align-items-center">
                <%= f.submit t('save'), class: "btn btn-primary" %>
                <%# link_to close_icon, :back, class: "btn btn-outline-primary" %>
            </div>
        </div>
    </div>

<% end %>
