<div class="row index-head mb-3">
  <div class="col-md-6 index-head__title">
    <h1 class="h3 d-inline align-middle"><%= Client.model_name.human(count: 2)%></h1>
  </div>
  <div class="col-md-6 d-flex justify-content-end index-head__buttons">
    <%= link_to  '#offcanvasFilter', class: 'btn btn-outline-primary me-2 position-relative', data: {bs_toggle: 'offcanvas'} do %>
      <span><i data-feather='sliders'></i></span>
      <span class="<%=informer_class%> <% unless params[:q].present?%>d-none<% end %>" id = "filter-informer">
        <span class="visually-hidden"></span>
      </span>
    <% end %>
    <%= link_to "<i data-feather='rotate-cw'></i>".html_safe, clients_path, class: 'btn btn-outline-primary me-2' %>
    <%= link_to "<i data-feather='plus'></i> #{Client.model_name.human}".html_safe, new_client_path, class: "btn btn-primary" %>
  </div>
</div>

<%= render 'filter', q: @search, title: 'Client filter' %>

<div class="card">
  <div class="card-header pb-0">
    <div class="card-actions float-end">
      <div class="dropdown position-relative">
        <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
          <%= more_icon%>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a href="#" class="dropdown-item">test</a>
          <%= link_to '.xlsx', clients_path(request.parameters.merge(format: 'zip')), class:"dropdown-item" %>
        </div>
      </div>
    </div>
    <h5 class="card-title mb-0"></h5>
  </div>
  <div class="card-body">
    <div id="datatables-products_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
      <div class="row">
        <div class="col-sm-12">
          <table id="datatables-products" class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th><%= t('helpers.label.client.surname')%></th>
                <th><%= t('helpers.label.client.name')%></th>
                <th><%= t('helpers.label.client.middlename')%></th>
                <th><%= t('helpers.label.client.phone')%></th>
                <th><%= t('helpers.label.client.email')%></th>
                <th><%= t('helpers.label.client.created_at')%></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @clients.each do |client| %>
                <tr id="<%= dom_id client %>">
                  <%= render client %>
                </tr>
              <% end %>
              </tbody>
          </table>
        </div>
      </div>
      
      <%= render "shared/paginate", f: @clients %>
    </div>
  </div>
</div>
