<tr id="<%= dom_id incase_status %>">
    <%= tag.td tag.b(incase_status.id) %>
    <%= tag.td(incase_status.title)%>
    <%= tag.td(incase_status.color)%>
    <td>
        <%= link_to '<i data-feather="edit-2"></i>'.html_safe, edit_incase_status_path(incase_status), class: 'px-2' %>
        <%= link_to '<i data-feather="trash-2"></i>'.html_safe, incase_status, data: { "turbo-method": :delete, confirm: 'Are you sure?' } %>
    </td>
</tr>