<%= turbo_frame_tag incase_status, class: "d-flex list-group-item py-2 border-start-0 border-end-0 row", data: {
    sort_url: sort_incase_status_path(incase_status.id), sort_item_id: incase_status.id }  do %>
    <%= tag.div(class: "col-1") do %>
        <%= sortable_with_badge(incase_status.position)%>
        <%= incase_status.id%>
    <% end %>
    <%= tag.div(incase_status.title, class: "col-5")%>
    <%= tag.div('', class: "col-4") do %>
        <%= tag.span('', class: 'spinner-grow-static', style: "background-color: #{incase_status.color};")%>
    <% end %>
    <div class= "col-2 d-flex justify-content-end gap-2 align-items-center">
        <%= render 'shared/edit_delete_link_turbo', object: incase_status %>
    </div>
<% end %>