<div class="mb-3 col-4 ps-0 pe-1 ">
    <%= f.label :seller_id, class: "form-label" %>
    <%= f.select :seller_id, Company.our.pluck(:short_title, :id), {include_blank: false}, { class: "form-select"} %>
</div>
<div class="mb-3 col-7 ps-0 pe-1 "></div>
<div class="mb-3 col-5 ps-0 pe-1 ">
    <%= f.label :client_id, class: "form-label" %>
    <%= f.select :client_id, Client.collection_for_select(f.object.client_id), {include_blank: false}, 
                            { class: "form-select", data: {controller: 'slimselect', search_url:  "/clients/search"} } %>
</div>
<div class="mb-3 col-4 ps-0 pe-1 ">
    <%= f.label :company_id, class: "form-label" %>
    <%= f.select :company_id, Company.collection_for_select(f.object.company_id), {include_blank: true}, 
                            {  class: "form-select", data: {controller: 'slimselect', search_url:  "/companies/search"} } %>
</div>
<div class="mb-3 col-3 ps-0 pe-1 ">
    <%= f.label :payment_type_id, class: "form-label" %>
    <%= f.select :payment_type_id, PaymentType.pluck(:title, :id), {include_blank: false}, {class: "form-select"} %>
</div>
