<div class="mb-3 col-md-2">
    <%= f.label :order_status_id, class: "form-label" %>
    <%= f.select :order_status_id, OrderStatus.pluck(:title, :id), {include_blank: false}, {class: "form-select"}%>
</div>
<div class="mb-3 col-md-5">
    <% collection = Client.where(id: f.object.client_id).map{|p| [p.full_name, p.id]}+Client.all.limit(5).map{|p| [p.full_name, p.id]} %>
    <%= f.label :client_id, class: "form-label" %>
    <%= f.select :client_id, collection, {include_blank: false}, 
                            { data: {controller: 'slimselect', search_url:  "/clients/search"} } %>
</div>
<div class="mb-3 col-md-5">
    <%= f.label :manager_id, class: "form-label" %>
    <%= f.select :manager_id, User.pluck(:name, :id), {include_blank: false}, {class: "form-select"}%>
</div>
<div class="mb-3 col-md-3">
    <%= f.label :payment_type_id, class: "form-label" %>
    <%= f.select :payment_type_id, PaymentType.pluck(:title, :id), {include_blank: false}, {class: "form-select"} %>
</div>
<div class="mb-3 col-md-3">
    <%= f.label :delivery_type_id, class: "form-label" %>
    <%= f.select :delivery_type_id, DeliveryType.all.map{|d| [d.title_price, d.id]}, {include_blank: false}, {class: "form-select"} %>
</div>
