<%= form_with(model: order, data: { controller: 'slimselect'}, class: 'order-form' ) do |f| %>
    <%= render 'shared/errors', object: order %>

    <%= tag.div class: 'card' do %>
            <%= tag.div class: 'card-header d-flex align-items-center gap-3 px-2' do %>
                <%= tag.div class: 'd-flex justify-content-between align-items-center gap-3' do %>
                    <%= f.select :order_status_id, OrderStatus.order(:position).pluck(:title, :id), { include_blank: false, prompt: t('helpers.label.order.order_status_id') }, { class: "form-select border-primary-subtle" } %>
                <% end %>
                <%= tag.div class: 'd-flex justify-content-between align-items-center gap-3' do %>
                    <% tabs = f.object.new_record? ? [ ['main', t(:main)], ['shipping', t(:shipping)]] : [ ['main', t(:main)], ['shipping', t(:shipping)], ['comment', t(:comment)] ] %>  
                    <%= tabs_head('order', tabs) %>
                <% end %>
                <%= tag.div class: 'd-flex ms-auto justify-content-between align-items-center gap-3' do %>
                    <%= f.select :manager_id, User.pluck(:name, :id), {include_blank: false, prompt: t('helpers.label.order.manager_id')}, {class: "form-select border-primary-subtle"} %>
                    <%= link_to history_icon, audited_auditable_audits_path(auditable_type: "order", auditable_id: order.id), class: 'btn btn-outline-success d-flex', data: {turbo_frame: "offcanvas_history"} if !f.object.new_record? %>
                <% end %>
            <% end %>
            <%= tag.div class: 'card-body' do %>
                <%= tag.div class: 'tab-content' do %>
                    <%= tag.div class: 'tab-pane active', id: 'main_tab', role: 'tabpanel', 'aria-labelledby': 'main_tab' do %>
                            <div class="row">
                                <%= render 'form_data', f: f %>
                            </div>
                            <div class="row" data-controller="calculate">
                                <%= render 'nested', f: f %>
                            </div>
                            <%= tag.div class: 'row mt-3' do %>
                                <%= tag.div 'Комментарий', class: 'fs-4 fw-bold my-3' %>
                                <%= f.fields_for :comments do |comment| %>
                                    <%= render 'comments/form_data', f: comment %>
                                <% end %>
                            <% end if f.object.new_record? %>
                    <% end %>

                    <%= tag.div class: 'tab-pane', id: 'shipping_tab', role: 'tabpanel', 'aria-labelledby': 'shipping_tab' do %>
                            <%= tag.div class: 'row' do %>
                                <%= f.fields_for :shippings do |shipping| %>
                                    <%= render partial: 'shippings/form_data', locals: { f: shipping } %>
                                <% end %>
                            <% end %>
                    <% end %>

                    <%= tag.div class: 'tab-pane', id: 'comment_tab', role: 'tabpanel', 'aria-labelledby': 'comment_tab' do %>
                            <div class="row">
                                <%= render partial: 'comments/nested', locals: {commentable: order, comment: @comment} %>
                            </div>
                    <% end if !f.object.new_record? %>
                <% end %>
            <% end %>
            <%= tag.div class: 'card-footer' do %>
                <%= f.submit t('save'), class: 'btn btn-primary' %>
                <%= link_to t('back'), orders_path, class: 'btn btn-outline-primary' %>
            <% end %>
    <% end %>
<% end %>
