<%= form_with(model: order, data: { controller: 'nested-form slimselect', nested_form_wrapper_selector_value: '.nested-form-wrapper' }, 
                class: 'order-form' ) do |f| %>
   <%= render 'shared/errors', object: order%>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                     <%= tabs_head('order', [ ['main', t(:main)],['history', t(:history)] ]) if !f.object.new_record? %>
                </div>
                <div class="card-body">
                <div class="tab-content">
                     <div class="tab-pane active" id="main_tab" role="tabpanel" aria-labelledby="main_tab">
                        <div class="row">
                            <%= render 'form_data', f: f%>
                        </div>
                        <div class="row" data-controller="calculate">
                            <div class="col-md-2 mb-2">
                                <button type="button" class="btn btn-primary" data-action="nested-form#add"><i data-feather='plus'></i>Add line</button>
                            </div>
                            <template data-nested-form-target="template">
                                <%= f.fields_for :order_items, OrderItem.new, child_index: 'NEW_RECORD' do |item| %>
                                    <%= render "nested_item", f: item %>
                                <% end %>
                            </template>
                            <div class="table-responsive">
                                <table class="table table-primary table-striped table-hover table-sm">
                                    <thead class="">
                                        <tr>
                                            <th scope="col" class="col-6"><%= t('helpers.label.order_item.product_id')%></th>
                                            <th scope="col" class="col-1"><%= t('helpers.label.order_item.quantity')%></th>
                                            <th scope="col" class="col-1"><%= t('helpers.label.order_item.price')%></th>
                                            <th scope="col" class="col-1"><%= t('helpers.label.order_item.discount')%></th>
                                            <th scope="col" class="col-1"><%= t('helpers.label.order_item.nds')%></th>
                                            <th scope="col" class="col-1"><%= t('helpers.label.order_item.sum')%></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="">
                                        <%= f.fields_for :order_items do |item| %>
                                            <%= render "nested_item", f: item %>
                                        <% end %>
                                        <tr data-nested-form-target="target"></tr>
                                        <tr class="table-white table-active ">
                                            <th colspan="4" class="border-0"></th>
                                            <th scope="col" class="border-0">Subtotal:</th>
                                            <th scope="col" class="border-0" data-calculate-target="subtotal"><%= @order.order_items.sum(:sum)%></th>
                                            <th class="border-0"></th>
                                        </tr>
                                        <tr class="table-white table-active ">
                                            <th colspan="4" class="border-0"></th>
                                            <th scope="col" class="border-0">NDS:</th>
                                            <th scope="col" class="border-0" data-calculate-target="vattotal"></th>
                                            <th class="border-0"></th>
                                        </tr>
                                        <tr class="table-white table-active ">
                                            <th colspan="4" class="border-0"></th>
                                            <th scope="col" class="border-0">Total:</th>
                                            <th scope="col" class="border-0" data-calculate-target="total"><%= @order.order_items.sum(:sum)%></th>
                                            <th class="border-0"></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <% if !f.object.new_record? %>
                    <div class="tab-pane" id="history_tab" role="tabpanel" aria-labelledby="history_tab">
                        <%= render "shared/history", f: f %>
                    </div>
                    <% end %>
                </div>
                </div>
                <div class="card-footer">
                    <%= f.submit class: "btn btn-primary" %>
                    <%= link_to t('back'), orders_path, class: "btn btn-outline-primary" %>
                </div>
            </div>
        </div>
    </div>

<% end %>
