<tr id="<%= dom_id f.object %>" class="p-1 nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">

    <td class="p-0 ps-1 product_id">
        <%= f.select :product_id, Product.collection_for_select(f.object.product_id), { include_blank: true }, 
                                    {   class: "p-1", 
                                        data: { controller: 'slimselect', search_url:  "/products/search", action: "change->calculate#recalculate" }} %>
    </td>
    <td class="p-0 quantity">
        <%= f.number_field :quantity,   class: "form-control form-control-md p-1", min: "0", value: f.object.quantity.present? ? f.object.quantity : 0,
                                        data: { action: "change->calculate#recalculate", calculate_target: "qty" } %>
    </td>
    <td class="p-0 price"><%# Это поле используется ещё в контроллере orders в nested_item %>
        <%= f.number_field :price,  class: "form-control form-control-md p-1", 
                                    data: { action: "change->calculate#recalculate", calculate_target: "price" } %>
    </td>
    <td class="p-0 discount">
        <%= f.number_field :discount, class: "form-control form-control-md p-1 disabled", readonly: true, data: { calculate_target: "discount" }  %>
    </td>
    <td class="p-0 vat">
        <%= f.number_field :vat, class: "form-control form-control-md p-1 disabled", disabled: true, data: { calculate_target: "vat" } %>
    </td>
    <td class="p-0 sum">
        <%= f.text_field :sum, class: "form-control form-control-md p-1 disabled", readonly: true, data: { calculate_target: "sum" } %>
    </td>
    <td>
        <button type="button" class="btn btn-link" data-action="nested-form#remove"><i class="fa fa-trash"></i></button>
            <%= f.hidden_field :_destroy %>
    </td>

</tr>