<div class="row index-head mb-3">
  <div class="col-md-6 index-head__title">
    <h1 class="h3 d-inline align-middle"><%= Order.model_name.human(count: 2)%></h1>
  </div>
  <div class="col-md-6 d-flex justify-content-end index-head__buttons">
    <%= form_with url: bulk_print_orders_path, method: :post, id: :bulk_action_form  do |f| %>
      <% if Templ.order_print.presence %>
      <%= button_print %>
      <ul class="dropdown-menu">
          <% Templ.order_print.each do |templ|%>
            <%= f.button type: :submit, value: "templ_id##{templ.id}", class: "dropdown-item" do %>
              <%= templ.title %>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      <%= f.button 'Status', type: :submit, class: "btn btn-outline-primary", formaction: bulk_status_orders_path, data: { turbo_frame: 'modal', turbo_prefetch: false }, title: I18n.t("bulk_status") %>
      <%= render 'shared/download_excel_buttons', f: f, object: Order.new %>
    <% end %>
    <%= render 'shared/index_filter' if lookup_context.find_all("orders/_filter").any? %>
    <%= link_to arrow_clockwise_icon, orders_path(search_cancel: true), class: 'btn btn-outline-primary me-2', data: {turbo: false}  %>
    <%= link_to add_icon, new_order_path, class: "btn btn-primary" %>
  </div>
</div>

<%= render 'filter', q: @search, title: 'Order filter' if lookup_context.find_all("orders/_filter").any?  %>

<div class="card">
  <div class="card-header pb-0">
    <h5 class="card-title mb-0"><%= page_entries_info(@orders).to_s.gsub('Order','').gsub('заказы','').html_safe %></h5>
  </div>
  <div class="card-body">

    <div id="datatables-orders" class="col-sm-12 list-group list-group-striped" data-controller="selectall">
      <div class="row py-2 px-0 justify-content-between align-items-center">
        <%= div_check_box_tag_all %>
        <%= tag.div( t( 'helpers.label.order.order_status_id' ), class: 'col-1 fw-semibold' )%>
        <%= tag.div( t( 'helpers.label.order.contact' ), class: 'col-2 fw-semibold' )%> 
        <%= tag.div( t( 'helpers.label.order.payment_type_id' ), class: 'col-1 fw-semibold' )%>
        <%= tag.div( t( 'helpers.label.order.delivery_type_id' ), class: 'col-2 fw-semibold' )%>
        <%= tag.div( t( 'helpers.label.order.sum' ), class: 'col-1 fw-semibold' )%>
        <%= tag.div( t( 'helpers.label.order.created_at' ), class: 'col-2 fw-semibold' )%>
        <%= tag.div('', class: 'col-2 fw-semibold')%>
      </div>
      
      <% if !@orders.previous_page.present? && !params[:q]&.values&.reject(&:blank?).present? %>
        <%= turbo_stream_from "orders_page1" %>
      <% else %>
        <%= turbo_stream_from "orders" %>
      <% end %>

      <%= turbo_frame_tag 'orders' do %>
          <%= render @orders %>
      <% end %>
    </div>

    <%= render "shared/paginate", f: @orders %>
  </div>
</div>
