<tr id="<%= dom_id delivery_type %>">
    <td><b><%= delivery_type.id%></b></td>
    <td><%= delivery_type.title %></td>
     <td><%= delivery_type.price %></td>
     <td><%= delivery_type.desc %></td>
    <%= td_index_edit_delete_link(delivery_type)%>
</tr>