<div class="mb-3 col-md-10">
    <%= f.label :pmodel, class: "form-label" %>
    <%= f.select :pmodel, Permission.all_models, {}, {  class: "form-select"} %>
</div>
<div class="mb-3 col-md-12">
    <% Permission::ACTIONS.each do |action| %>
        <%= f.check_box :pactions, { multiple: true, checked: f.object.pactions&.include?(action.to_s), class: 'form-check-input' }, action, nil %>
        <%= f.label action %>
    <% end %>
</div>

<%= f.hidden_field :user_id%>
