<div class="col-md-2 mb-2">
    <%= link_to add_icon, new_nested_supplies_path, class: "btn btn-primary", data: {turbo_stream: true} %>
</div>

<div class="col-sm-12 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">

    <div class="row py-2 px-0">
        <%= tag.div(t('helpers.label.supply_item.product_id'), class: 'col-5 fw-semibold')%> 
        <%= tag.div( '', class: 'col-2 fw-semibold' ) do %>    
            <%= select_tag t('helpers.label.supply_item.warehouse_id'), 
                            options_from_collection_for_select(Warehouse.order(:id), "id", "title"), 
                            prompt: t('helpers.label.supply_item.warehouse_id'), class: 'form-select', 
                            data: {
                                action: "change->choose#changeBulkItemStatus", 
                                choose_target: "itemSelected" 
                                }%>
        <% end %>
        <%= tag.div( t('helpers.label.supply_item.quantity'), class: 'col-1 fw-semibold' )%>
        <%= tag.div( t('helpers.label.supply_item.price'), class: 'col-1 fw-semibold' )%>
        <%= tag.div( t('helpers.label.order_item.nds'), class: 'col-1 fw-semibold' )%>
        <%= tag.div( t('helpers.label.supply_item.sum'), class: 'col-1 fw-semibold' )%>
        <%= tag.div('', class: 'col fw-semibold')%>
    </div>
    <%= turbo_frame_tag 'supply_items', class: "container" do %>
        <%= f.fields_for :supply_items do |item| %>
            <% render "supply_items/form_data", f: item, product: nil %>
        <% end %>
    <% end %>
    <div class="row">
        <div class="col-9"></div>
        <div class="col-1">Subtotal:</div>
        <div class="col-1" data-calculate-target="subtotal"><%= @supply.supply_items.sum(:sum)%></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-9"></div>
        <div class="col-1">NDS:</div>
        <div class="col-1" data-calculate-target="vattotal"></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-9"></div>
        <div class="col-1">Total:</div>
        <div class="col-1" data-calculate-target="total"><%= @supply.supply_items.sum(:sum)%></div>
        <div class="col"></div>
    </div>
</div>
