<div class="col-md-2 mb-2">
    <button type="button" class="btn btn-primary" data-action="nested-form#add"><i data-feather='plus'></i>Add line</button>
</div>
<template data-nested-form-target="template">
    <%= f.fields_for :supply_items, SupplyItem.new, child_index: 'NEW_RECORD' do |item| %>
        <%= render "nested_item", f: item %>
    <% end %>
</template>
<div class="table-responsive">
    <table class="table table-primary table-striped table-hover table-sm">
        <thead class="">
            <tr>
                <th scope="col" class="col-5"><%= t('helpers.label.supply_item.product_id')%></th>
                <th scope="col" class="col-2"><%= t('helpers.label.supply_item.warehouse_id')%></th>
                <th scope="col" class="col-1"><%= t('helpers.label.supply_item.quantity')%></th>
                <th scope="col" class="col-1"><%= t('helpers.label.supply_item.price')%></th>
                <th scope="col" class="col-1"><%= t('helpers.label.supply_item.nds')%></th>
                <th scope="col" class="col-1"><%= t('helpers.label.supply_item.sum')%></th>
                <th scope="col" class="col-1"></th>
            </tr>
        </thead>
        <tbody class="">
            <%= f.fields_for :supply_items do |item| %>
                <%= render "nested_item", f: item %>
            <% end %>
            <tr data-nested-form-target="target"></tr>
            <tr class="table-white table-active ">
                <th colspan="4" class="border-0"></th>
                <th scope="col" class="border-0">Subtotal:</th>
                <th scope="col" class="border-0" data-calculate-target="subtotal"><%= @supply.supply_items.sum(:sum)%></th>
                <th class="border-0"></th>
            </tr>
            <tr class="table-white table-active ">
                <th colspan="4" class="border-0"></th>
                <th scope="col" class="border-0">NDS:</th>
                <th scope="col" class="border-0" data-calculate-target="vattotal"></th>
                <th class="border-0"></th>
            </tr>
            <tr class="table-white table-active ">
                <th colspan="4" class="border-0"></th>
                <th scope="col" class="border-0">Total:</th>
                <th scope="col" class="border-0" data-calculate-target="total"><%= @supply.supply_items.sum(:sum)%></th>
                <th class="border-0"></th>
            </tr>
        </tbody>
    </table>
</div>
