<% company = @company.present? ? @company : company_turbo %>
<div class="col-md-12 mb-2">
    <button type="button" class="btn btn-primary" data-action="nested-form#add"><i class='bi bi-plus'></i> Добавить клиента</button>
    <%= link_to '<i class="bi bi-plus-square"></i>'.html_safe, new_turbo_clients_path(company_id: company.id), title: 'создать клиента',class: 'btn btn-light', data: {turbo_frame: "modal"} %>
</div>
<template data-nested-form-target="template">
    <%= fields_for "company[client_companies_attributes][#{Time.now.to_i }]", ClientCompany.new do |f| %>
        <%= render "companies/nested", f: f, parent: 'company' %>
    <% end %>
</template>
<div class="client_companies">
    <% company.client_companies.each do |client_company|%>
        <%= fields_for "company[client_companies_attributes][#{client_company.id }]", client_company do |f| %>
            <%= render "companies/nested", f: f, parent: 'company' %>
        <% end %>
    <% end %>
    <div data-nested-form-target="target"></div>
</div>