
    <td><b><%= company.id%></b></td>
    <td><%= company.tip%></td>
    <td>Название: <%= company.title %><br>
    ИНН: <%= company.inn %><br>
    КПП: <%= company.kpp %><br>
    ОГРН: <%= company.ogrn %><br>
    ОКПО: <%= company.okpo %>
    </td>
    <td>Юрид: <%= company.ur_address %><br>
    Факт: <%= company.fact_address %></td>
    <td>БИК: <%= company.bik %><br>
    Название: <%= company.bank_title %><br>
    Расч Счет: <%= company.bank_account %>
    </td>
    <td class="text-nowrap"><%= link_to '<i data-feather="edit-2"></i>'.html_safe, edit_company_path(company), class: 'px-2' %>
    <%= link_to '<i data-feather="trash-2"></i>'.html_safe, company, data: { "turbo-method": :delete, confirm: 'Are you sure?' }, class:"px-2" %></td>
