
    <td><b><%= company.id%></b></td>
    <td><%= company.tip%></td>
    <td>Название: <%= company.title %><br>
    ИНН: <%= company.inn %><br>
    КПП: <%= company.kpp %><br>
    ОГРН: <%= company.ogrn %><br>
    ОКПО: <%= company.okpo %>
    </td>
    <td>Юрид: <%= company.ur_address %><br>
    Факт: <%= company.fact_address %></td>
    <td>БИК: <%= company.bik %><br>
    Название: <%= company.bank_title %><br>
    Расч Счет: <%= company.bank_account %>
    </td>
    <%=tag.td(company.comments.pluck(:body).join)%>
    <td class="text-nowrap"><%= render 'shared/edit_delete_link', object: company %></td>

