<tr id="<%= dom_id company %>">
    <td><b><%= company.id%></b></td>
    <td><%= company.tip%></td>
    <td><%= collect_company_info(company)%></td>
    <td><%= collect_company_bank_info(company)%> </td>
    <%=tag.td(company.company_plan_dates_data)%>
   <%= td_index_edit_delete_link(company)%>
</tr>


