<%= form_with(model: @company, data: {controller: 'company'}) do |f| %>
  <%= render 'shared/errors', object: @company %>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                <ul class="nav nav-pills" id="companyEditTab" role="tablist">
              <li class="nav-item border border-primary rounded" role="presentation">
                <a class="nav-link active" id="companyEditMain-tab" data-bs-toggle="tab" data-bs-target="#companyEditMain">Основные</a>
              </li>
              <li class="nav-item border border-primary rounded" role="presentation">
                <a class="nav-link" id="companyEditHistory-tab" data-bs-toggle="tab" data-bs-target="#companyEditHistory">История</a>
              </li>
            </ul>
                </div>
                <div class="card-body">

                <div class="tab-content">
                    <div class="tab-pane active" id="companyEditMain" role="tabpanel" aria-labelledby="companyEditMain-tab">
                        <%= render "form_main", f: f %>
                    </div>
                    <div class="tab-pane" id="companyEditHistory" role="tabpanel" aria-labelledby="companyEditHistory-tab">
                        <%= render "shared/history", f: f %>
                    </div>
                </div>


                </div>
                <div class="card-footer">
                    <%= f.submit class: "btn btn-primary" %>
                    <%= link_to t('back'), companies_path, class: "btn btn-outline-primary" %>
                </div>
            </div>
        </div>
    </div>

<% end %>
