<div class="col-md-9 row">
    <div class="h4">Реквизиты</div>
    <div class="mb-3 col-md-2">
        <%= f.label :inn, class: "form-label" %>
        <%= f.text_field :inn, class: "form-control", data: {action: "change->company#dadata_company", company_target: "inn"} %>
    </div>
    <div class="mb-3 col-md-2">
        <%= f.label :kpp, class: "form-label" %>
        <%= f.text_field :kpp, class: "form-control" %>
    </div>
    <div class="mb-3 col-md-3">
        <%= f.label :ogrn, class: "form-label" %>
        <%= f.text_field :ogrn, class: "form-control" %>
    </div>
    <div class="mb-3 col-md-3">
        <%= f.label :okpo, class: "form-label" %>
        <%= f.text_field :okpo, class: "form-control" %>
    </div>
    <div class="mb-3 col-md-6">
        <%= f.label :title, class: "form-label" %>
        <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="mb-3 col-md-6">
        <%= f.label :ur_address, class: "form-label" %>
        <%= f.text_field :ur_address, class: "form-control" %>
    </div>
    <div class="mb-3 col-md-6">
        <%= f.label :fact_address, class: "form-label" %>
        <%= f.text_field :fact_address, class: "form-control" %>
    </div>

    <div class="h4 mt-2">Банк</div>
    <div class="mb-3 col-md-4">
        <%= f.label :bik, class: "form-label" %>
        <%= f.text_field :bik, class: "form-control", data: {action: "change->company#dadata_bank", company_target: "bik"} %>
    </div>
    <div class="mb-3 col-md-4">
        <%= f.label :bank_title, class: "form-label" %>
        <%= f.text_field :bank_title, class: "form-control" %>
    </div>
    <div class="mb-3 col-md-4">
        <%= f.label :bank_account, class: "form-label" %>
        <%= f.text_field :bank_account, class: "form-control" %>
    </div>
</div>