<div class="nested-form-wrapper row mb-3" data-new-record="<%= f.object.new_record? %>">
    <div class="col-md-3">
        <%# f.label :date, class: "form-label" %>
        <%= f.date_field :date, class: "form-control bg-light", data: { controller: 'flatpickr', flatpickr_min_date: (Time.zone.now + 1.day), flatpickr_alt_input: "true", flatpickr_alt_format: "d-m-Y"}   %>
    </div>
    <div class="col-md-7">
        <%= f.fields_for :comments, f.object.comments.present? ? f.object.comments : Comment.new do |comment| %>
            <%= render 'comments/form_data', f: comment %>
        <% end %>
    </div>
    <%= div_remove_nested(f)%>
</div>
