
<div class="row index-head mb-3">
  <div class="col-md-6 index-head__title">
    <h1 class="h3 d-inline align-middle"><%= Company.model_name.human(count: 2)%></h1>
  </div>
  <div class="col-md-6 d-flex justify-content-end index-head__buttons">

    <%= render 'shared/index_filter' if lookup_context.find_all("companies/_filter").any? %>
    <%= link_to "<i class='bi bi-arrow-clockwise'></i>".html_safe, companies_path, class: 'btn btn-outline-primary me-2' %>
    <%= link_to "<i class='bi bi-plus'></i> #{Company.model_name.human}".html_safe, new_company_path, class: "btn btn-primary" %>
  </div>
</div>

<%= render 'filter', q: @search, title: 'Company filter' if lookup_context.find_all("companies/_filter").any? %>


<div class="card">
  <div class="card-header pb-0">
    <div class="card-actions float-end">
      <div class="dropdown position-relative">
        <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
          <%= more_icon%>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a href="#" class="dropdown-item">test</a>
        </div>
      </div>
    </div>
    <h5 class="card-title mb-0"></h5>
  </div>
  <div class="card-body">
    <div id="datatables-detals_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
      <div class="row">
        <div class="col-sm-12">
          <table id="datatables-companies" class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th><%= t('helpers.label.company.tip')%></th>
                <th class="w-50">Компания</th>
                <th>Банк</th>
                <th>Комментарий</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= turbo_frame_tag 'companies' do %>
              <%= render @companies %>
              <% end %>
              </tbody>
          </table>
        </div>
      </div>
      <div class="row paginate-wrap">
        <%= render "shared/paginate", f: @companies %>
      </div>
    </div>
  </div>
</div>
