
<div class="row index-head mb-3">
  <div class="col-md-6 index-head__title">
    <h1 class="h3 d-inline align-middle"><%= Company.model_name.human(count: 2)%></h1>
  </div>
  <div class="col-md-6 d-flex justify-content-end index-head__buttons">
    <%= form_with url: download_companies_path, method: :post, id: :bulk_action_form  do |f| %>
      <%= f.button type: :submit, class: "btn btn-outline-primary me-1", id: 'download-excel' do %>.xlsx<% end%>
    <% end %>
    <%= render 'shared/index_filter' if lookup_context.find_all("companies/_filter").any? %>
    <%= link_to arrow_clockwise_icon, companies_path, class: 'btn btn-outline-primary me-2' %>
    <%= link_to add_icon, new_company_path, class: "btn btn-primary" %>
  </div>
</div>

<%= render 'filter', q: @search, title: 'Company filter' if lookup_context.find_all("companies/_filter").any? %>


<div class="card">
  <div class="card-header pb-0">
    <h5 class="card-title mb-0" id="count_info"><%= page_entries_info(@companies).to_s.gsub('Company','').gsub('компании','').html_safe %></h5>
  </div>
  <div class="card-body">

    <%= tag.div id: 'datatables-companies_wrapper' do %>  
      <%=turbo_stream_from "companies" %>     

      <%=turbo_frame_tag 'companies', class:"table d-table", data: { controller: "sortable toast", action: "sortable:move->toast#show"} do %>
        <%=tag.div class:"d-table-row" do %>  
          <%=tag.div('#', class: 'd-table-cell fw-semibold')%>
          <%=tag.div( t('helpers.label.company.tip'), class: 'd-table-cell fw-semibold' )%>
          <%=tag.div( t( 'helpers.label.company.title'), class: 'd-table-cell fw-semibold' )%>
          <%=tag.div( t( 'helpers.label.company.bank'), class: 'd-table-cell fw-semibold' )%>
           <%=tag.div( t( 'helpers.label.company.comment'), class: 'd-table-cell fw-semibold' )%>
          <%=tag.div('', class: 'd-table-cell fw-semibold')%>
        <%end %>
        <%= render @companies %>
      <% end %>
      
      <%= render "shared/paginate", f: @companies %>
    <% end %>

  </div>
</div>
