
<%= f.hidden_field :invoice_id, value: params[:invoice_id].present? ? params[:invoice_id] : f.object.invoice_id %>
<div class="mb-3 col-2">
    <%= f.label :return_status_id, class: "form-label" %>
    <%= f.select :return_status_id, ReturnStatus.pluck(:title, :id), {include_blank: false}, {class: "form-select"}%>
</div>
<div class="mb-3 col-4">
    <%= f.label :client_id, class: "form-label" %>
    <%= f.select :client_id, Client.collection_for_select(f.object.client_id), {include_blank: false}, 
                            { data: {controller: 'slimselect', search_url:  "/clients/search"} } %>
</div>
<div class="mb-3 col-4">
    <%= f.label :company_id, class: "form-label" %>
    <%= f.select :company_id, Company.all.pluck(:short_title, :id), {include_blank: true}, 
                            { data: {controller: 'slimselect'} } %>
</div>
<div class="mb-3 col-2">
    <%= f.label :number, class: "form-label" %>
    <%= f.text_field :number, class: "form-control" %>
</div>
