<div class="row index-head mb-3">
  <div class="col-md-6 index-head__title">
    <h1 class="h3 d-inline align-middle"><%= Return.model_name.human(count: 2)%></h1>
  </div>
  <div class="col-md-6 d-flex justify-content-end index-head__buttons">
    <%= form_with url: download_returns_path, method: :post, id: :bulk_action_form  do |f| %>
      <%= render 'shared/download_excel_buttons', f: f, object: Return.new %>
    <% end %>
    
    <%= render 'shared/index_filter' if lookup_context.find_all("returns/_filter").any? %>
    <%= link_to arrow_clockwise_icon, returns_path(search_cancel: true), class: 'btn btn-outline-primary me-2', data: {turbo: false}  %>
    <%= link_to add_icon, new_return_path, class: "btn btn-primary" %>
  </div>
</div>

<%= render 'filter', q: @search, title: 'Return filter' if lookup_context.find_all("returns/_filter").any?  %>

<div class="card">
  <div class="card-header pb-0">
    <div class="card-actions float-end">
      <div class="dropdown position-relative">
        <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
          <%= more_icon%>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a href="#" class="dropdown-item">test</a>
          <%# link_to '.xlsx', returns_path(request.parameters.merge(format: 'zip')), class:"dropdown-item", data: {turbo_prefetch: false} %>
        </div>
      </div>
    </div>
    <h5 class="card-title mb-0"></h5>
  </div>
  <div class="card-body">

    <div id="datatables-returns" class="col-sm-12 list-group list-group-striped" data-controller="selectall">
      <div class="row py-2 px-0 justify-content-between align-items-center">
        <%= div_check_box_tag_all %>
        <%= tag.div( t( 'helpers.label.return.number'), class: 'col-1 fw-semibold' )%> 
        <%= tag.div( t( 'helpers.label.return.return_status_id'), class: 'col-1 fw-semibold' )%>
        <%= tag.div( t( 'helpers.label.return.invoice_id'), class: 'col-1 fw-semibold' )%>
        <%= tag.div( t( 'helpers.label.return.contact'), class: 'col-4 fw-semibold' )%>
        <%= tag.div( t( 'helpers.label.return.sum'), class: 'col-1 fw-semibold' )%>
        <%= tag.div( t( 'helpers.label.return.created_at'), class: 'col-1 fw-semibold' )%>
        <%= tag.div('', class: 'col-2 fw-semibold')%>
      </div>
      <%= turbo_stream_from "returns" %>
      <%= turbo_frame_tag 'returns' do %>
          <%= render @returns %>
      <% end %>
    </div>

      
      <%= render "shared/paginate", f: @returns %>
  </div>
</div>
