<p style="color: green"><%= notice %></p>

<%= render @return %>

<div>
  <%= link_to "Edit this return", edit_return_path(@return) %> |
  <%= link_to "Back to returns", returns_path %>

  <%= button_to "Destroy this return", @return, method: :delete %>
</div>
