<% child_index = f.object.new_record? && child_index.nil? ?  Time.now.to_i : child_index %>
<%= turbo_frame_tag "action_#{ f.object.persisted? ? f.object.id : child_index}", 
                    class: "d-flex w-100 m-auto justify-content-center align-items-center py-1 border-start-0 border-end-0 px-2 bg-light row" do %>
    <%# f.hidden_field :id %>
    <input autocomplete="off" type="hidden" value="<%=f.object.persisted? ? f.object.id : nil%>" 
    name="trigger[actions_attributes][<%=f.object.persisted? ? f.object.id : child_index%>][id]" 
    id="trigger_actions_attributes_<%=f.object.persisted? ? f.object.id : child_index%>_id">

    <% object_action_name = f.object.action_name if f.object.present? && f.object.action_name.present?%>
    <% start_action_name = slimselect_action_name.present? ? slimselect_action_name : object_action_name %>

    <%= tag.div class: "col-5 p-0 m-0 action_name" do %>
        
        <% selected_action_name = Action::Name.select{ |r| r[1] ==  start_action_name  }.flatten if start_action_name %>
        
        <%# f.select :action_name, options_for_select(Action::Name.map{ |r| [ r[0], r[1] ] }, selected: start_action_name), {include_blank: true}, 
            { class: "p-1", data: {controller: 'slimselect',search_url:  "/products/search", nested_url:  "/triggers/slimselect_nested_item"}} %>
        <%= select_tag "trigger[actions_attributes][#{ f.object.persisted? ? f.object.id : child_index }][action_name]", 
        options_for_select(Action::Name.map{ |r| [ r[0], r[1] ] }, start_action_name), 
        { include_blank: true, multiple: false, data: {controller: 'slimselect',search_url:  "/products/search", nested_url:  "/triggers/slimselect_nested_item"}} %>

    <% end %>
    <%= tag.div class: "col-5 p-0 m-0 action_params" do %>
        
        <% collection = start_action_name.present? ? Action.get_collection(start_action_name) : []%>
        <% selected_action_params = f.object.action_params.reject(&:blank?).join if f.object.present? %>
        <%# multiple: (f.object.action_name.present? && f.object.action_name == "create_supply#incase") ? true : false %>
        <%# f.select :action_params, options_for_select(collection, selected: selected_action_params), { include_blank: true }, 
                                        { multiple: false, 
                                        data: {controller: "slimselect", action_target: "select" }} %>
        <%# f.select :action_params, collection, { include_blank: true }, 
                                        { multiple: false, 
                                        data: {controller: "slimselect", action_target: "select" }} %>
        <%= select_tag "trigger[actions_attributes][#{ f.object.persisted? ? f.object.id : child_index }][action_params][]", options_for_select(collection, selected_action_params), { include_blank: true, multiple: false, data: {controller: "slimselect", action_target: "select" }} %>
    <% end %>
    
    <div class="col-2 p-0 d-flex justify-content-center">
        <%= link_to trash_icon, remove_nested_triggers_path(action_id: f.object.id, remove_element: "action_#{ f.object.persisted? ? f.object.id : child_index }"),class: "",
                                data: {  turbo_method: :post,  turbo_confirm: "Are you sure?"}  %>
    </div>

<% end %>