<div class="row flex-center min-vh-100 py-6">
  <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
    <div class="card">
      <div class="card-body p-4 p-sm-5">
        <div class="row flex-between-center mb-2">
          <div class="col-auto">
            <h5>Войти</h5>
          </div>
          <div class="col-auto fs--1 text-600"><span class="mb-0 undefined">или</span> <span><%= link_to "зарегистрироваться", new_user_registration_path%></span></div>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
         <%= render "devise/shared/error_messages", resource: resource %>
          <div class="mb-3">
            <%= f.email_field :email, autocomplete: "email" , class: "form-control", placeholder: "Email address"%>
          </div>
          <div class="mb-3">
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
          </div>
          <div class="row flex-between-center">
            <div class="col-auto">
              <div class="form-check mb-0">
                <%= f.check_box :remember_me, class: "form-check-input", checked: "checked" %>
                <%= f.label :remember_me, class: "form-check-label mb-0"  %>
              </div>
            </div>
            <div class="col-auto">
              <%= link_to "Забыли пароль?", new_user_password_path, class: "fs--1" %>
            </div>
          </div>
          <div class="mb-3">
          <%= f.submit "Log in", class: "btn btn-primary d-block w-100 mt-3"%></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
