<%# f.hidden_field :incase_id %>
<td class="p-0 title">
    <%= f.text_field :title , class: 'w-100 ms-2 form-control form-control-lg p-1'%>
</td>
<td class="p-0 quantity">
    <%= f.number_field :quantity, class: "form-control form-control-lg p-1" %>
</td>
<td class="p-0 katnumber">
    <%= f.text_field :katnumber, class: "form-control form-control-lg p-1" %>
</td>
<td class="p-0 price">
    <%= f.text_field :price, class: "form-control form-control-lg p-1" %>
</td>
<td class="p-0 sum">
    <%= f.text_field :sum, class: "form-control form-control-lg p-1" %>
</td>
<td class="p-0 status">
    <%= f.select :incase_item_status_id, IncaseItemStatus.pluck(:title, :id), {include_blank: true}, { class: "form-select form-select-lg", data: {incase_target: 'itemStatusResults'} }%>
</td>