<%= link_to "<i data-feather='plus'></i> #{IncaseTip.model_name.human}".html_safe, 
    new_incase_tip_path, class: "btn btn-primary float-end mt-n1", data: {turbo_frame: dom_id(IncaseTip.new) } %>
<div class="mb-3">
  <h1 class="h3 d-inline align-middle"><%= IncaseTip.model_name.human(count: 2)%></h1>
</div>

<div class="card">
  <div class="card-header pb-0">
    <div class="card-actions float-end">
      <div class="dropdown position-relative">
        <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
          <i class="align-middle" data-feather="more-horizontal"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a href="#" class="dropdown-item">test</a>
        </div>
      </div>
    </div>
    <h5 class="card-title mb-0"></h5>
  </div>
  <div class="card-body">
    <div id="datatables-incase_tip_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
        <%= turbo_frame_tag IncaseTip.new %>
        <div class="col-sm-12 list-group list-group-striped">
          <div class="row py-2 px-4">
            <%= tag.div('#', class: 'col-md-1 fw-semibold')%>
            <%= tag.div( t( 'helpers.label.incase_tip.title'), class: 'col-md-5 fw-semibold' )%>
            <%= tag.div( t( 'helpers.label.incase_tip.color'), class: 'col-md-5 fw-semibold' )%>
            <%= tag.div('', class: 'col-md-1 fw-semibold')%>
          </div>
          <%= turbo_frame_tag 'incase_tips' do %>
              <%= render @incase_tips %>
          <% end %>
        </div>

      <div class="row paginate-wrap">
        <%= render "shared/paginate", f: @incase_tips %>
      </div>
    </div>
  </div>
</div>
