<div id="<%= dom_id invoice_item %>">
  <p>
    <strong>Product:</strong>
    <%= invoice_item.product_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= invoice_item.price %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= invoice_item.discount %>
  </p>

  <p>
    <strong>Sum:</strong>
    <%= invoice_item.sum %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= invoice_item.quantity %>
  </p>

  <p>
    <strong>Vat:</strong>
    <%= invoice_item.vat %>
  </p>

  <p>
    <strong>Invoice:</strong>
    <%= invoice_item.invoice_id %>
  </p>

</div>
