<%= turbo_frame_tag inventory_status, class: "d-flex list-group-item py-2 border-start-0 border-end-0 row", data: {
    sort_url: sort_inventory_status_path(inventory_status.id), sort_item_id: inventory_status.id }  do %>
  <%= tag.div(class: "col-1") do %>
    <%= sortable_with_badge(inventory_status.position)%>
    <%= inventory_status.id%>
  <% end %>
    <%= tag.div(inventory_status.title, class: "col-5")%>
    <%= tag.div('', class: "col-4") do %>
        <%= tag.span('', class: 'spinner-grow-static', style: "background-color: #{inventory_status.color};")%>
    <% end %>
    <div class= "col-2 d-flex justify-content-end gap-2 align-items-center">
        <%= render 'shared/edit_delete_link_turbo', object: inventory_status %>
    </div>
<% end %>