<p style="color: green"><%= notice %></p>

<%= render @inventory_status %>

<div>
  <%= link_to "Edit this inventory status", edit_inventory_status_path(@inventory_status) %> |
  <%= link_to "Back to inventory statuses", inventory_statuses_path %>

  <%= button_to "Destroy this inventory status", @inventory_status, method: :delete %>
</div>
