<div class="col-2 my-3">
    <%= link_to add_icon, new_nested_losses_path, class: "btn btn-primary", data: { turbo_stream: true } %>
</div>

<div class="col-12 text-primary-emphasis bg-primary-subtle bloss bloss-primary-subtle rounded-3">
    <div class="row py-2 px-0 ">
        <%= tag.div( t('helpers.label.loss_item.product_id'), class: 'col-7 fw-semibold')%> 
        <%= tag.div( t('helpers.label.loss_item.quantity'), class: 'col-1 fw-semibold' )%>
        <%= tag.div( t('helpers.label.loss_item.price'), class: 'col-1 fw-semibold' )%>
        <%= tag.div( t('helpers.label.loss_item.nds'), class: 'col-1 fw-semibold' )%>
        <%# tag.div( t('helpers.label.loss_item.discount'), class: 'col-1 fw-semibold')%>
        <%= tag.div( t('helpers.label.loss_item.sum'), class: 'col-1 fw-semibold' )%>
        <%= tag.div('', class: 'col fw-semibold')%>
    </div>
    <%= turbo_frame_tag 'loss_items', class: "container" do %>
        <%= f.fields_for :loss_items do |item| %>
            <%= render "loss_items/form_data", f: item, product: nil%>
        <% end %>
    <% end %>
    <div class="row">
        <div class="col-9"></div>
        <div class="col-1">Subtotal:</div>
        <div class="col" data-calculate-target="subtotal"><%= @loss.loss_items.sum(:sum)%></div>
    </div>
    <div class="row">
        <div class="col-9"></div>
        <div class="col-1">NDS:</div>
        <div class="col" data-calculate-target="vattotal"></div>
    </div>
    <div class="row">
        <div class="col-9"></div>
        <div class="col-1">Total:</div>
        <div class="col" data-calculate-target="total"><%= @loss.loss_items.sum(:sum)%></div>
    </div>

</div>
