<%= turbo_frame_tag payment_type do %>
<%= form_with(model: payment_type) do |f| %>
  <%= render "shared/errors", object: payment_type %>

    <div class="card">
        <div class="card-body">
          <div class="row">
              <% if !f.object.new_record? %>
              <div class="col-1"><%= f.object.id if !f.object.new_record? %></div>
              <% end %>
              <div class="col-3">
                <%= f.label :title, class: "form-label" if f.object.new_record?%>
                <%= f.text_field :title, class: "form-control" %>
              </div>
              <div class="col-4">
                <%= f.label :desc, class: "form-label" if f.object.new_record?%>
                <%= f.text_field :desc, class: "form-control" %>
              </div>
              <div class="col-2">
                <%= f.label :margin, class: "form-label" if f.object.new_record?%>
                <%= f.text_field :margin, class: "form-control" %>
              </div>
              <div class="<%= f.object.new_record? ? "col" : "col-2"%> d-flex justify-content-end gap-2 align-items-center">
                <%= f.submit t(:save), class: "btn btn-primary" %>
                <%= link_to close_icon, :back, class: "btn btn-outline-primary" %>
              </div>
          </div>            
        </div>
    </div>

<% end %>
<% end %>
