<tr id="<%= dom_id payment_type %>">
    <td><b><%= payment_type.id%></b></td>
    <td><%= payment_type.title %></td>
     <td><%= payment_type.margin %></td>
     <td><%= payment_type.desc %></td>
    <%= td_index_edit_delete_link(payment_type)%>
</tr>
