<tr id="<%= dom_id payment_type %>">
    <td><b><%= payment_type.id%></b></td>
    <td><%= payment_type.title %></td>
     <td><%= payment_type.margin %></td>
     <td><%= payment_type.desc %></td>
    <td>
        <%= link_to '<i data-feather="edit-2"></i>'.html_safe, edit_payment_type_path(payment_type), class: 'px-2' %>
        <%= link_to '<i data-feather="trash-2"></i>'.html_safe, payment_type, data: { "turbo-method": :delete, confirm: 'Are you sure?' } %>
    </td>
</tr>