
<div class="row mb-3">
  <div class="col-md-6 index-head__title">
    <h1 class="h3 d-inline align-middle"><%= PaymentType.model_name.human(count: 2)%></h1>
  </div>
  <div class="col-md-6 d-flex justify-content-end index-head__buttons">
    <%= link_to add_icon, new_payment_type_path, class: "btn btn-primary float-end", data: {turbo_frame: 'offcanvas_wrap' } %>
  </div>
</div>

<div class="card">
  <div class="card-header pb-0">
    <div class="card-actions float-end">
      <div class="dropdown position-relative">
        <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
          <%=more_icon %>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a href="#" class="dropdown-item">test</a>
        </div>
      </div>
    </div>
    <h5 class="card-title mb-0"></h5>
  </div>
  <div class="card-body">
    <div id="datatables-payment_type_wrapper">
      <%=turbo_stream_from "payment_types" %>     

      <%=turbo_frame_tag 'payment_types', class:"table d-table", data: { controller: "sortable toast", action: "sortable:move->toast#show"} do %>
        <%=tag.div class:"d-table-row" do %>  
          <%=tag.div('#', class: 'd-table-cell fw-semibold')%>
          <%=tag.div( t( 'helpers.label.payment_type.title'), class: 'd-table-cell fw-semibold' )%>
          <%=tag.div( t( 'helpers.label.payment_type.desc'), class: 'd-table-cell fw-semibold' )%>
          <%=tag.div( t( 'helpers.label.payment_type.margin'), class: 'd-table-cell fw-semibold' )%>
          <%=tag.div('', class: 'd-table-cell fw-semibold')%>
        <%end %>
        <%= render @payment_types %>
      <% end %>
      
      <%= render "shared/paginate", f: @payment_types %>
    </div>
  </div>

</div>
