<div class="row mb-2 mb-xl-3">
	<div class="col-auto d-none d-sm-block">
		<div class="h3"><strong>Сводка</strong></div>
	</div>

	<div class="col-auto ms-auto text-end mt-n1">
		<a href="#" class="btn btn-primary">New Task</a>
	</div>
</div>
<div class="row">
	<div class="col-xl-6 col-xxl-5 d-flex">
		<div class="w-100">
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col mt-0">
									<h5 class="card-title">Продажи</h5>
								</div>

								<div class="col-auto">
									<div class="stat text-primary">
										<i class="bi bi-truck"></i>
									</div>
								</div>
							</div>
							<h1 class="mt-1 mb-3">2.382</h1>
							<div class="mb-0">
								<span class="badge badge-primary-light"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span>
								<span class="text-muted">С прошлой недели</span>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col mt-0">
									<h5 class="card-title">Посетители</h5>
								</div>

								<div class="col-auto">
									<div class="stat text-primary">
										<i class="bi bi-people"></i>
									</div>
								</div>
							</div>
							<h1 class="mt-1 mb-3">14.212</h1>
							<div class="mb-0">
								<span class="badge badge-success-light"> <i class="mdi mdi-arrow-bottom-right"></i> 5.25% </span>
								<span class="text-muted">С прошлой недели</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col mt-0">
									<h5 class="card-title">Доходы</h5>
								</div>

								<div class="col-auto">
									<div class="stat text-primary">
										<i class="bi bi-cash"></i>
									</div>
								</div>
							</div>
							<h1 class="mt-1 mb-3">&#x20bd;21.300</h1>
							<div class="mb-0">
								<span class="badge badge-success-light"> <i class="mdi mdi-arrow-bottom-right"></i> 6.65% </span>
								<span class="text-muted">С прошлой недели</span>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col mt-0">
									<h5 class="card-title">Заказы</h5>
								</div>

								<div class="col-auto">
									<div class="stat text-primary">
										<i class="bi bi-cart2"></i>
									</div>
								</div>
							</div>
							<h1 class="mt-1 mb-3"><%=@orders_data[:count]%></h1>
							<div class="mb-0">
								<span class="badge badge-danger-light"> <i class="mdi mdi-arrow-bottom-right"></i><%=@orders_data[:procent]%></span>
								<span class="text-muted">С прошлой недели</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-6 col-xxl-7">
		<%= render partial: '/dashboards/charts/product/created_at_count' %>
	</div>
</div>

<div class="row">
	<div class="col-12 col-md-6 d-flex order-1">
		<div class="card flex-fill w-100">
			<div class="card-header">
				<h5 class="card-title mb-0">Продажи по месяцам</h5>
			</div>
			<div class="card-body pt-2 pb-3 w-100">
				<div class="align-self-center chart chart-lg">
        			<canvas class="chartjs-render-monitor" data-controller="chart" data-chart-type-value='bar' data-chart-data-value='<%= @sale_chart_data.to_json %>' data-chart-options-value='<%=@sale_chart_options.to_json%>'></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 d-flex order-2">
		<div class="card flex-fill">
			<div class="card-header">
				<h5 class="card-title mb-0">Календарь</h5>
			</div>
			<div class="card-body pt-2 pb-3 w-100">
				<div class="align-self-center w-100">
					<div class="chart">
						<% defaultDate = Date.today %>
						<%=tag.div(class: 'flatpickr-calendar animate inline', data: { controller: 'flatpickr', flatpickr_inline: true, flatpickr_defaultDate: defaultDate })%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>