<div id="<%= dom_id order_item %>">
  <p>
    <strong>variant:</strong>
    <%= order_item.variant_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= order_item.price %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= order_item.discount %>
  </p>

  <p>
    <strong>Sum:</strong>
    <%= order_item.sum %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= order_item.order_id %>
  </p>

</div>
