<div id="<%= dom_id incase_import %>">
  <td><%= check_box_tag "incase_import_ids[]", incase_import.id, false, {class: 'checkboxes', data: { 'selectall_target': 'checkbox', action: "change->selectall#toggleParent"}, form: :bulk_action_form } %></td>
  <%= tag.td tag.b(incase_import.id) %>
  <%= tag.td(incase_import.active) %>
  <%= tag.td(incase_import.title) %>
  <%= tag.td(incase_import.report) %>
  <%= tag.td do %>
  <%= link_to 'file', rails_blob_path(incase_import.import_file, disposition: 'attachment') %>
  <% end %>
  <%= tag.td( t("helpers.label.incase.#{incase_import.uniq_field.split('#').last}") ) %>
  <%= tag.td do %>
      <%= link_to '<i class="bi bi-eye"></i>'.html_safe, incase_import, class: "px-2" %>
  <% end %>
  <%= td_index_edit_delete_link(incase_import)%>
</div>
