
<div class="row index-head mb-3">
  <div class="col-md-6 index-head__title">
    <h1 class="h3 d-inline align-middle"><%= IncaseImport.model_name.human(count: 2)%></h1>
  </div>
  <div class="col-md-6 d-flex justify-content-end index-head__buttons">
  <%= form_with url: bulk_print_incase_imports_path, method: :post, id: :bulk_action_form  do |f| %>
    <% if Templ.incase_import_print.presence %>
    <%= button_print %>
    <ul class="dropdown-menu">
      <% Templ.incase_import_print.each do |templ|%>
        <%= f.button type: :submit, value: "templ_id##{templ.id}", class: "dropdown-item" do %>
          <%= templ.title %>
        <% end %>
      <% end %>
    <% end %>
    </ul>
    <%= f.button type: :submit, class: "btn btn-outline-primary me-1", id: 'download-excel', formaction: download_incase_imports_path do %>.xlsx<% end%>
  <% end %>

    <%= render 'shared/index_filter' if lookup_context.find_all("incase_imports/_filter").any? %>
    <%= link_to arrow_clockwise_icon, incase_imports_path, class: 'btn btn-outline-primary me-2' %>
    <%= link_to add_icon, new_incase_import_path, class: "btn btn-primary", data: {turbo_frame: dom_id(IncaseImport.new) } %>
  </div>
</div>

<%= render 'filter', q: @search, title: 'Incase Import filter' if lookup_context.find_all("incase_imports/_filter").any?%>

<div class="card">
  <div class="card-header pb-0">
    <div class="card-actions float-end">
      <div class="dropdown position-relative">
        <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
          <%= more_icon%>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <%= link_to '.xlsx', incase_imports_path(request.parameters.merge(format: 'zip')), class:"dropdown-item", data: {turbo_prefetch: false} %>
        </div>
      </div>
    </div>
    <h5 class="card-title mb-0"></h5>
    <h5 class="card-title mb-0">Всего: <%= IncaseImport.all.count %></br><%= "Выбрано: "+@incase_imports.total_entries.to_s if @incase_imports.size > 0 &&  @incase_imports.size != IncaseImport.all.count %></h5>
  </div>
  <div class="card-body">
      <div class="col-sm-12 list-group list-group-striped" data-controller="selectall">
        <div class="row">
          <%= turbo_frame_tag IncaseImport.new %>  
        </div>
        
        <div class="row py-2 px-4">
          <%= div_check_box_tag_all %>
          <%= tag.div( t( 'helpers.label.incase_import.active'), class: 'col-2 fw-semibold' ) %>
          <%= tag.div( t( 'helpers.label.incase_import.title'), class: 'col-3 fw-semibold' ) %> 
          <%= tag.div( t( 'helpers.label.incase_import.report'), class: 'col-1 fw-semibold' ) %>
          <%= tag.div( t( 'helpers.label.incase_import.file'), class: 'col-1 fw-semibold' ) %>
          <%= tag.div( t( 'helpers.label.incase_import.uniq_field'), class: 'col-2 fw-semibold' ) %>
          <%= tag.div('', class: 'col-2 fw-semibold')%>
        </div>

        <%= turbo_stream_from "incase_imports" %>
        <%= turbo_frame_tag 'incase_imports' do %>
            <%= render @incase_imports %>
        <% end %>

      </div>
      
      <%= render "shared/paginate", f: @incase_imports %>

  </div>
</div>
