<div class="card">
<%= turbo_stream_from current_user, "check_incase_imports" if user_signed_in? %>
<%= turbo_frame_tag @incase_import do %>
  <div class="card-header"><%= t('import_info')%></div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <span class="h5">Title</span>
                <span><%= @incase_import.title %></span>
            </div>
            <div class="col-12">
                <span class="h5">File</span>
                <span><%= link_to 'file', rails_blob_path(@incase_import.file, disposition: 'attachment') %></span>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="btn-group" role="group" aria-label="import button group">
            <%= link_to t('edit'), edit_incase_import_path(@incase_import), class: "btn btn-light", data: { turbo_frame: :_top } if can? :edit, @incase_import %>
            <%# form_for [@incase_import], url: check_incase_imports_path, html: { multipart: true }, method: :get do |f| %>
                <%# f.submit 'Check', class: 'btn btn-primary', id: "import_start_button" %>
            <%# end %>
            <%= link_to t('check'), check_incase_imports_path, class: "btn btn-primary", data: {turbo_stream: true} %>
            <%= link_to t('cancel'), incase_imports_path, class: "btn btn-outline-primary", data: { turbo_frame: :_top } %>
        </div>
    </div>
<% end %>
</div>


