<!DOCTYPE html >
<html>
	<meta charset="utf-8" />
		<head>
		<title>Деталь - <%= @product.title.mb_chars.capitalize.to_s %></title>
		<style>
			body {
				font-size: 12px;
			}
			.content { margin: 0 auto; text-align: center;}
		/* Стили штрихкода*/
		table.barby-barcode { border-spacing: 0; }
		tr.barby-row {}
		td.barby-cell { width: 3px; height: 30px; }
		td.barby-cell.on { background: #000; }
		/*  */
		</style>
		</head>
  <body>
	  <div class="content">
		  <div style="font-size: 13px;"><%= @product.title.mb_chars.capitalize.to_s.at(0..26) if @product.title != nil%>
		  </div>
  	<div>
		  <%# @product.markatext %> <%# @item.modeltext %>
  	</div>  
		<div style="margin: 1px 5px; ">
			<%= @product.html_barcode  %>
			<span style="font-weight: bold;font-size: 28px;"><%=@product.barcode.to_s%></span>
		</div>
		<div>
			Ор.Н. <%= @product.sku%>
		</div>
	  </div>
  </body>
</html>