<%= form_with(model: product) do |form| %>
 <%= render "shared/errors", object: product%>

<div class="row">

    <div class="col-md-7">
        <div class="card">
            <div class="card-header py-3 px-3 border-bottom">
            <ul class="nav nav-pills" id="productEditTab" role="tablist">
              <li class="nav-item border border-primary rounded" role="presentation">
                <a class="nav-link active" id="productEditMain-tab" data-bs-toggle="tab" data-bs-target="#productEditMain">Основные</a>
              </li>
              <li class="nav-item border border-primary rounded" role="presentation">
                <a class="nav-link" id="productEditProperty-tab" data-bs-toggle="tab" data-bs-target="#productEditProperty">Параметры</a>
              </li>
              <li class="nav-item border border-primary rounded" role="presentation">
                <a class="nav-link" id="productEditHistory-tab" data-bs-toggle="tab" data-bs-target="#productEditHistory">История</a>
              </li>
            </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="productEditMain" role="tabpanel" aria-labelledby="productEditMain-tab">
                        <%= render "form_lines", f: form %>
                    </div>
                    <div class="tab-pane" id="productEditProperty" role="tabpanel" aria-labelledby="productEditProperty-tab">
                        <%= link_to "<i data-feather='plus'></i> #{Property.model_name.human}".html_safe, new_prop_path(product_id: @product.id), class: 'btn btn-primary', data: {turbo_frame: dom_id(Prop.new) } %>
                        <%= render "properties/property_lines", f: form %>
                    </div>
                    <div class="tab-pane" id="productEditHistory" role="tabpanel" aria-labelledby="productEditHistory-tab">
                        <%= render "shared/history", f: form %>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <%= form.submit class: "btn btn-primary" %>
                <%= link_to t('back'), products_path, class: "btn btn-outline-primary" %>
            </div>
        </div>
    </div>

<% end %>

    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Photo</h4>
            </div>
            <div class="card-body">
            <% if product.new_record?%>
                <p>Create product first</p>
            <% else %>
                <%= turbo_frame_tag "images_product_#{@product.id}" do %>
                    <%= render 'dropzone' %>
                <% end %>
            <% end %>
            </div>
        </div>
    </div>
</div>
