<div class="row">
    <div class="mb-3 col-md-6">
      <%= f.label :sku, class: "form-label" %>
      <%= f.text_field :sku, class: "form-control" %>
    </div>

    <div class="mb-3 col-md-6">
      <% placeholder = f.object.new_record? ? 'создаётся после сохранения...' : ''%>
      <%= f.label :barcode, class: "form-label" %>
      <%= f.text_field :barcode, class: "form-control" , disabled: true, placeholder: placeholder%>
    </div>

    <div class="mb-3">
      <%= f.label :title, class: "form-label required" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :description, class: "form-label" %>
      <%= f.rich_text_area :description, class: "form-control" %>
    </div>

    <div class="mb-3 col-md-4">
      <%= f.label :quantity, class: "form-label required" %>
      <%= f.number_field :quantity, class: "form-control" %>
    </div>

    <div class="mb-3 col-md-4">
      <%= f.label :costprice, class: "form-label" %>
      <%= f.number_field :costprice, class: "form-control" %>
    </div>

    <div class="mb-3 col-md-4">
      <%= f.label :price, class: "form-label required"  %>
      <%= f.number_field :price, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :video, class: "form-label" %>
      <%= f.text_field :video, class: "form-control" %>
    </div>
</div>


