<div class="row">

  <div class="mb-3">
    <%= f.label :title, class: "form-label required" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <%= render partial: 'products/description', locals: { f: f, value: f.object.description} %>

  <%= tag.div class: "mb-3" do %>
    <%= f.fields_for :variants, Variant.new do |variant| %>
      <%= render 'variants/form_data', f: variant %>
    <% end %>
  <% end if f.object.new_record? %>

  <%= tag.div class: "mb-3" do %>
    <%= tag.label(t('variants'), class: "form-label mb-3") %>
    <%# not_use_this because change to canvas => turbo_frame_tag dom_id(f.object, dom_id(Variant.new)) %>
    <%= link_to add_icon, new_product_variant_path(f.object), class: "btn btn-primary float-end mb-3", data: {turbo_frame: 'offcanvas_wrap', turbo_prefetch: false  } %>
    <%= turbo_stream_from f.object, :variants %>
    
    <%= turbo_frame_tag f.object, :variants, data: { }, class: "table d-table" do %>
      <%= tag.div class:"d-table-row" do %>
        <%= tag.div("#", class: "d-table-cell fw-bold")%>
        <%= tag.div("", class: "d-table-cell")%>
        <%= tag.div("sku", class: "d-table-cell fw-bold")%>
        <%= tag.div("barcode", class: "d-table-cell fw-bold")%>
        <%= tag.div("qt", class: "d-table-cell fw-bold")%>
        <%= tag.div("cost_price", class: "d-table-cell fw-bold")%>
        <%= tag.div("price", class: "d-table-cell fw-bold")%>
        <%= tag.div("", class: "d-table-cell")%>
      <% end %>

      <% f.object.variants.each do |variant| %>
        <%= render partial: "variants/variant", locals: { variant: variant, product: f.object } %>
      <% end %>
    <% end %>
  <% end if !f.object.new_record? %>

</div>


