<div class="row">
    <%= form_with(model: product, data: {controller: 'product nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper'}, class: 'col-md-8') do |f| %>
        <%= render "shared/errors", object: product%>

        <div class="card">
            <div class="card-header">
                <%= tabs_head('incase', [ ['main', t(:main)],['property', t(:property)],['history', t(:history)] ]) if !f.object.new_record? %>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="main_tab" role="tabpanel" aria-labelledby="main_tab">
                        <%= render "form_data", f: f %>
                    </div>
                    <div class="tab-pane" id="property_tab" role="tabpanel" aria-labelledby="property_tab">
                        <%= render "props_nested", f: f %>
                    </div>
                    <% if !f.object.new_record? %>
                    <div class="tab-pane" id="history_tab" role="tabpanel" aria-labelledby="history_tab">
                        <%= render "shared/history", f: f %>
                    </div>
                    <% end %>
                </div>
            </div>
            <div class="card-footer">
                <%= f.submit class: "btn btn-primary" %>
                <%= link_to t('back'), products_path, class: "btn btn-outline-primary" %>
            </div>
        </div>

    <% end %>

    <div class="col-md-4">
        <% if product.barcode.present? %>
            <div class="card">
                <div class="card-body">
                    <%= product.html_barcode %>
                </div>
            </div>
        <% end %>

        <div class="card">
            <div class="card-body">
                <% if product.new_record?%>
                    <p>Сохраните товар</p>
                <% else %>
                    <%= turbo_frame_tag "images_product_#{@product.id}" do %>
                        <%= render 'dropzone' %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>

</div>
