<%# hidden form for delete images %>
<%= form_with url: delete_images_path, method: :post, data: {turbo_stream: true}, id: :bulk_images_form  do |f| %>
    <%= f.submit "delete imgs", class: "mb-3 visually-hidden", id: 'delete-imgs'%>
<% end %>
<%# hidden form for delete images %>

<%= form_with(model: product, data: { controller: 'product ', 'item-id': product.id }, class: 'row upload-form') do |f| %>
    <div class="col-md-8">
        <%= turbo_frame_tag "errors" do %>
            <%= render "shared/errors", object: product %>
        <% end %>
        <div class="card">
            <%= tag.div class:"card-header d-flex justify-content-between align-items-center pb-0" do %>
                <%= tabs_head('products', [ ['main', t(:main)],['property', t(:property)],['placement', t(:placement)] ]) %>
                <%= link_to history_icon, audited_auditable_audits_path(auditable_type: "product", auditable_id: product.id), class: 'btn btn-outline-success d-flex btn-lg', data: {turbo_frame: "offcanvas_history"} %>
            <% end if !f.object.new_record? %>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="main_tab" role="tabpanel" aria-labelledby="main_tab">
                        <%= render "form_data", f: f %>
                    </div>
                    <div class="tab-pane" id="property_tab" role="tabpanel" aria-labelledby="property_tab">
                        <%= render "props_nested", f: f, product: product if !f.object.new_record? %>
                    </div>
                    <div class="tab-pane" id="placement_tab" role="tabpanel" aria-labelledby="placement_tab">
                        <%= render "placements", f: f, product: product if !f.object.new_record? %>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <%= f.submit t('save'), class: "btn btn-primary" %>
                <%= link_to t('back'), products_path(search_cancel: true), class: "btn btn-outline-primary", data: {turbo: false} %>
            </div>
        </div>
    </div>

    <div class="col-md-4" data-controller="image">
        <%=tag.div class: 'card' do %>
            <div class="card-body row">
                <div class="col-8 mb-3 px-0">
                    <div class="btn-group" role="group" aria-label="product statuses button group">
                        <% Product::STATUS.each do |key| %>
                            <input type="radio" class="btn-check" name="product[status]" value="<%=key%>" 
                                    id="product_status_<%=key%>" autocomplete="off" <% if f.object.status&.include?(key.to_s) %>checked<%end%> >
                            <label class="btn btn-outline-light" for="product_status_<%=key%>"><%=key%></label>
                        <% end %>
                    </div>
                </div>

                <div class="col-4 mb-3 px-0">
                    <%= f.select :tip, Product::TIP, {include_blank: false},{ class: "form-select" } %>
                </div>
            </div>
        <% end %>
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-end mb-3">
                    <label for="delete-imgs" class="btn btn-outline-primary"><%= trash_icon%> Все изобр</label>
                </div>
                <%= turbo_stream_from "images" %>
                <div class="row d-flex gap-3" id="images" data-controller="sortable toast">
                    <% if product.images.present? %>
                        <%= f.fields_for :images do |form| %>
                            <%= render  partial: "images/image", 
                                        locals: { blob: form.object.file, 
                                        image_id: form.object.id, 
                                        image_position: form.object.position, 
                                        product_id: @product.id, f: form } if form.object.file.attached? %>
                        <% end %>
                    <% end %>
                </div>
                <div class="mt-5">
                    <input type="file" multiple="multiple" data-direct-upload-url="<%= rails_direct_uploads_url %>" 
                    data-action="change->image#uploadFile" data-image-target="filesInput" accept='image/*' />
                </div>
            </div>
        </div>
    </div>
<% end %>

<%= turbo_frame_tag "offcanvasAI", class: "offcanvas offcanvas-end w-50", 
tabindex: "-1", "aria-labelledby": "offcanvasRightLabel",
data: { controller: "offcanvas", action: "turbo:frame-load->offcanvas#show", "bs-scroll":"true" } %>
