<tr id="<%= dom_id product %>">
    <td><%= check_box_tag "product_ids[]", product.id, false, {class: 'checkboxes', data: { 'selectall_target': 'checkbox', action: "change->selectall#toggleParent"}, form: :print_etiketki_form } %></td>
    <%= tag.td tag.b( product.id ) %>
    <%= tag.td( product.sku ) %>
    <%= tag.td( product.barcode ) %>
    <%= tag.td( product.title ) %>
    <%= tag.td( product.quantity ) %>
    <%= tag.td( product.price ) %>
    <%= tag.td( product.created_at.strftime("%d/%m/%Y") ) %>
    <%= tag.td do %>
        <%= render 'shared/print', object: product, templates: Templ.product_print if Templ.product_print.presence %>
    <% end %>
    <%= td_index_edit_delete_link(product)%>
</tr>