<div class="d-flex row">
    <div class="col-12 mb-3">
    <%= link_to new_product_prop_path(product), class: "btn btn-primary float-start mt-n1", data: {turbo_frame: dom_id(product, dom_id(Prop.new)) } do %>
        <%= add_icon %>
    <% end %>
    </div>
    <div class="col-12">
    <%= turbo_stream_from product, :props %>     
    <%= turbo_frame_tag product, :props, data: { } do %>
    <% @props.each do |prop|%>
        <%= render partial: "props/prop", locals: { prop: prop, product: product } %>
        <% end %>
    <% end %>
    </div>
    <div class="col-12">
        <%= turbo_frame_tag dom_id(product, dom_id(Prop.new)) %>
    </div>
</div>