<div id="<%= dom_id product %>">
  <p>
    <strong>Sku:</strong>
    <%= product.sku %>
  </p>

  <p>
    <strong>Barcode:</strong>
    <%= product.barcode %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= product.quantity %>
  </p>

  <p>
    <strong>Costprice:</strong>
    <%= product.costprice %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Video:</strong>
    <%= product.video %>
  </p>

</div>
