<div class="row index-head mb-3">
  <div class="col-md-6 index-head__title">
    <h1 class="h3 d-inline align-middle"><%= Product.model_name.human(count: 2)%></h1>
  </div>
  <div class="col-md-6 d-flex justify-content-end index-head__buttons">
    <%= link_to  '#offcanvasFilter', class: 'btn btn-outline-primary me-2 position-relative', data: {bs_toggle: 'offcanvas'} do %>
      <span><i data-feather='sliders'></i></span>
      <span class="<%=informer_class%> <% unless params[:q].present?%>d-none<% end %>" id = "filter-informer">
        <span class="visually-hidden"></span>
      </span>
    <% end %>
    <%= link_to "<i data-feather='rotate-cw'></i>".html_safe, products_path, class: 'btn btn-outline-primary me-2' %>
    <%= link_to "<i data-feather='plus'></i> #{Product.model_name.human}".html_safe, new_product_path, class: "btn btn-primary" %>
  </div>
</div>

<%= render 'filter', q: @search, title: 'Incase filter' %>

<div class="card">
  <div class="card-header pb-0">
    <div class="card-actions float-end">
      <div class="dropdown position-relative">
        <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
          <i class="align-middle" data-feather="more-horizontal"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a href="#" class="dropdown-item">test</a>
          <%= link_to '.xlsx', products_path(request.parameters.merge(format: 'zip')), class:"dropdown-item" %>
        </div>
      </div>
    </div>
    <h5 class="card-title mb-0"></h5>
  </div>
  <div class="card-body">
    <div id="datatables-products_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
      <div class="row">
        <div class="col-sm-12">
        <%# turbo_frame_tag "table", target: '_top' do Здесь продлема в том что не выводится урл с параметрами поиска хотя и стоит '_top' %>
          <!--<span class="loading">Loading...</span>-->
          <table id="datatables-products" class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th><%= t('helpers.label.product.sku')%></th>
                <th><%= t('helpers.label.product.barcode')%></th>
                <th><%= t('helpers.label.product.title')%></th>
                <th><%= t('helpers.label.product.quantity')%></th>
                <th><%= t('helpers.label.product.price')%></th>
                <th><%= t('helpers.label.product.created_at')%></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @products.each do |product| %>
                <tr id="<%= dom_id product %>">
                  <%= render product %>
                </tr>
              <% end %>
              </tbody>
          </table>
          <%# end %>
        </div>
      </div>
      <div class="row paginate-wrap">
        <%= render "shared/paginate", f: @products %>
      </div>
    </div>
  </div>
</div>
