<div class="row index-head mb-3">
  <div class="col-md-6 index-head__title">
    <h1 class="h3 d-inline align-middle"><%= Product.model_name.human(count: 2)%></h1>
  </div>
  <div class="col-md-6 d-flex justify-content-end index-head__buttons">
    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-print"></i></button>
    <ul class="dropdown-menu">
      <%= form_with url: print_etiketki_products_path, method: :post, id: :print_etiketki_form  do |form| %>
          <%= form.submit "Этикетки", class: "dropdown-item"%>
      <% end %>
    </ul>

    <%= link_to  '#offcanvasFilter', class: 'btn btn-outline-primary me-2 position-relative', data: {bs_toggle: 'offcanvas'} do %>
      <span><i data-feather='sliders'></i></span>
      <span class="<%=informer_class%> <% unless params[:q].present?%>d-none<% end %>" id = "filter-informer">
        <span class="visually-hidden"></span>
      </span>
    <% end %>
    <%= link_to "<i data-feather='rotate-cw'></i>".html_safe, products_path, class: 'btn btn-outline-primary me-2' %>
    <%= link_to "<i data-feather='plus'></i> #{Product.model_name.human}".html_safe, new_product_path, class: "btn btn-primary" %>
  </div>
</div>

<%= render 'filter', q: @search, title: 'Incase filter' %>

<div class="card">
  <div class="card-header pb-0">
    <div class="card-actions float-end">
      <div class="dropdown position-relative">
        <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
          <i class="align-middle" data-feather="more-horizontal"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a href="#" class="dropdown-item">test</a>
          <%= link_to '.xlsx', products_path(request.parameters.merge(format: 'zip')), class:"dropdown-item" %>
        </div>
      </div>
    </div>
    <h5 class="card-title mb-0">Всего: <%= Product.all.count %></h5>
  </div>
  <div class="card-body">
    <div id="datatables-products_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
        <div class="row">
          <div class="col-sm-12">
            <table id="datatables-products" class="table table-striped" data-controller="selectall">
              <thead>
                <tr>
                  <%= th_check_box_tag_all %>
                  <%= tag.th('#')%>
                  <%= tag.th(t('helpers.label.product.sku'))%>
                  <%= tag.th(t('helpers.label.product.barcode'))%>
                  <%= tag.th(t('helpers.label.product.title'))%>
                  <%= tag.th(t('helpers.label.product.quantity'))%>
                  <%= tag.th(t('helpers.label.product.price'))%>
                  <%= tag.th(t('helpers.label.product.created_at'))%>
                  <%# tag.th('')%>
                  <%= tag.th('')%>
                  <%= tag.th('')%>
                  <%= tag.th('')%>
                </tr>
              </thead>
              <tbody id="products">
                <%= render @products %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row paginate-wrap">
          <%= render "shared/paginate", f: @products %>
        </div>
    </div>
  </div>
</div>
