<%= link_to "<i data-feather='plus'></i> #{Product.model_name.human}".html_safe, new_product_path, class: "btn btn-primary float-end mt-n1" %>
<div class="mb-3">
  <h1 class="h3 d-inline align-middle"><%= Product.model_name.human(count: 2)%></h1>
</div>

<div class="card">
  <div class="card-header pb-0">
    <div class="card-actions float-end">
      <div class="dropdown position-relative">
        <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
          <i class="align-middle" data-feather="more-horizontal"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a href="#" class="dropdown-item">test</a>
        </div>
      </div>
    </div>
    <h5 class="card-title mb-0"></h5>
  </div>
  <div class="card-body">
    <div id="datatables-products_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
      <div class="row">
        <div class="col-sm-12">
          <table id="datatables-products" class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th><%= t('helpers.label.product.sku')%></th>
                <th><%= t('helpers.label.product.barcode')%></th>
                <th><%= t('helpers.label.product.title')%></th>
                <th><%= t('helpers.label.product.quantity')%></th>
                <th><%= t('helpers.label.product.price')%></th>
                <th><%= t('helpers.label.product.created_at')%></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @products.each do |product| %>
                <tr id="<%= dom_id product %>">
                  <%= render product %>
                </tr>
              <% end %>
              </tbody>
          </table>
        </div>
      </div>
      <div class="row paginate-wrap">
        <%= render "shared/paginate", f: @products %>
      </div>
    </div>
  </div>
</div>
