<div class="row col-10">

    <div class="col-1 align-self-center">
        <div class="form-check form-switch">
            <%= f.check_box :active, {class: "form-check-input", role: "switch"} %>
            <%= f.label :active, class: "form-check-label"%>
        </div>
    </div>
    <div class="col-11"></div>
    <div class="mb-3 col-8">
        <%= f.label :title, class: "form-label" %>
        <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="mb-3 col-4">
        <%= f.label :event, class: "form-label" %>
        <%= f.select :event, Trigger::Event.map{ |r| [r[0], r[1], { value2: r[2]}] }, {}, {class: "form-select"} %>
    </div>
    <div class="mb-3 col-12">
        <%= f.label :condition, class: "form-label" %>
        <%= f.text_area :condition, class: "form-control" %>
    </div>
    <div class="mb-3 col-12">
        <%= render 'nested', f: f %>
    </div>

    <div class="col-4 align-self-center">
        <div class="form-check form-switch">
            <%= f.check_box :pause, {class: "form-check-input", role: "switch"} %>
            <%= f.label :pause, class: "form-check-label"%>
        </div>
    </div>

    <div class="mb-3 col-4">
        <%= f.label :pause_time, class: "form-label" %>
        <%= f.number_field :pause_time, class: "form-control" %>
    </div>

</div>            
