<%= form_with(model: trigger, data: {controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper'}) do |f| %>
    <%= render "shared/errors", object: trigger %>

  <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
            <ul class="nav nav-pills" id="triggerEditTab" role="tablist">
                <li class="nav-item border border-primary rounded" role="presentation">
                    <a class="nav-link active" id="triggerEditMain-tab" data-bs-toggle="tab" data-bs-target="#triggerEditMain">Основные</a>
                </li>
                <li class="nav-item border border-primary rounded" role="presentation">
                    <a class="nav-link" id="triggerEditHelp-tab" data-bs-toggle="tab" data-bs-target="#triggerEditHelp">Помощь</a>
                </li>
            </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="triggerEditMain" role="tabpanel" aria-labelledby="triggerEditMain-tab">
                        <%= render "form_data", f: f %>
                    </div>
                    <div class="tab-pane" id="triggerEditHelp" role="tabpanel" aria-labelledby="triggerEditHelp-tab">              
                        <%= render "shared/liquid_help" %>
                    </div>
                </div>
            </div>
            <div class="card-footer">
              <%= f.submit class: "btn btn-primary" %>
              <%= link_to t('back'), triggers_path, class: "btn btn-outline-primary" %>
            </div>
        </div>
    </div>
  </div>

<% end %>
