<div id="<%= dom_id line_item %>">
  <p>
    <strong>Incase:</strong>
    <%= line_item.incase_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= line_item.title %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= line_item.quantity %>
  </p>

  <p>
    <strong>Katnumber:</strong>
    <%= line_item.katnumber %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= line_item.price %>
  </p>

  <p>
    <strong>Sum:</strong>
    <%= line_item.sum %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= line_item.status %>
  </p>

</div>
