
<%= form_with(model: incase, url: create_from_import_incases_path, method: :post, data: { controller: 'nested-form',
    nested_form_wrapper_selector_value: '.nested-form-wrapper'+nested_form_index.to_s }, class: 'incase-form', id: "incase-form-#{nested_form_index}") do |f| %>
    
    <%= render 'shared/errors', object: incase %>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div id="import_incase_error_<%= nested_form_index.to_s%>"%></div>
                </div>
                <div class="card-body">
                    <div class="row" <% if defined?(import_incase_data) && import_incase_data %>data-virtual-incase="<%= import_incase_data%>"<%end%>>
                        <div class="mb-3 col-md-1 px-1">
                            <%= f.label :region, class: "form-label" %>
                            <%= f.select :region, Incase::REGION, {selected: import_incase_data['region'], include_blank: true}, {class: "form-select"}%>
                        </div>
                        <div class="mb-3 col-md-2 px-1">
                            <%= f.label :strah_id, class: "form-label" %>
                            <% search_strah = Company.strah.find_by_short_title(import_incase_data['strah_id']).present? ?
                                Company.strah.find_by_short_title(import_incase_data['strah_id']).id.to_s : '' %>
                            <%= f.select :strah_id, Company.strah.pluck(:short_title, :id), {selected: search_strah, include_blank: true}, {class: "form-select"} %>
                            <%= tag.div("Страховая #{import_incase_data['strah_id']} не найдена. Создайте страховую", class: "invalid-feedback d-block") if !search_strah.present? %>
                        </div>
                        <div class="mb-3 col-md-3 px-1">
                            <%= f.label :stoanumber, class: "form-label" %>
                            <%= f.text_field :stoanumber, class: "form-control", value: import_incase_data['stoanumber']%>
                        </div>
                        <div class="mb-3 col-md-3 px-1">
                            <%= f.label :unumber, class: "form-label" %>
                            <%= f.text_field :unumber, class: "form-control", value: import_incase_data['unumber'] %>
                        </div>
                        <div class="mb-3 col-md-3 px-1">
                            <%= f.label :company_id, class: "form-label" %>
                            <% search_comp = Company.all.find_by_short_title(import_incase_data['company_id']).present? ?
                                Company.all.find_by_short_title(import_incase_data['company_id']).id.to_s : '' %>
                            <%= f.select :company_id, Company.standart.pluck(:short_title, :id), {selected: search_comp, include_blank: true}, { class: "form-select" }%>
                            <%= tag.div("Компания #{import_incase_data['company_id']} не найдена. Создайте компанию", class: "invalid-feedback d-block") if !search_comp.present? %>
                        </div>
                        <div class="mb-3 col-md-2 px-1">
                            <%= f.label :carnumber, class: "form-label" %>
                            <%= f.text_field :carnumber, class: "form-control", value: import_incase_data['carnumber'] %>
                        </div>
                        <div class="mb-3 col-md-2 px-1">
                            <%= f.label :date, class: "form-label" %>
                            <%= f.date_field :date, class: "form-control", value: import_incase_data['date'] %>
                        </div>
                        <div class="mb-3 col-md-2 px-1">
                            <%= f.label :modelauto, class: "form-label" %>
                            <%= f.text_field :modelauto, class: "form-control", value: import_incase_data['modelauto'] %>
                        </div>
                        <div class="mb-3 col-md-2 px-1">
                            <%= f.label :totalsum, class: "form-label" %>
                            <%= f.text_field :totalsum, class: "form-control", value: import_incase_data['totalsum']  %>
                        </div>
                        <div class="mb-3 col-md-2 px-1">
                            <%= f.label :incase_status_id, class: "form-label" %>
                            <%= f.select :incase_status_id, IncaseStatus.pluck(:title, :id), {selected: import_incase_data['status'], include_blank: false}, {class: "form-select"}%>
                        </div>
                        <div class="mb-3 col-md-2 px-1">
                            <%= f.label :incase_tip_id, class: "form-label" %>
                            <%= f.select :incase_tip_id, IncaseTip.pluck(:title, :id), {selected: import_incase_data['tip'], include_blank: false}, {class: "form-select"}%>
                        </div>
                    </div>
                    <div class="row" <% if defined?(import_incase_data) && import_incase_data%>data-virtual-incase-lines="<%= import_incase_data['lines']%>"<%end%>>
                        <div class="col-md-2 mb-2">
                            <button type="button" class="btn btn-primary" data-action="nested-form#add"><i data-feather='plus'></i>Add line</button>
                        </div>
                        <template data-nested-form-target="template">
                        <%= f.fields_for :incase_items, IncaseItem.new, child_index: 'NEW_RECORD' do |incase_items| %>
                            <%= render "nested_items", f: incase_items, nested_form_index: nested_form_index, import_line: nil %>
                        <% end %>
                        </template>
                        <div class="table-responsive">
                            <table class="table table-primary table-striped table-hover" style="table-layout: fixed;" data-controller = "incase">
                                <thead class="">
                                    <tr>
                                        <%=tag.th(t('helpers.label.incase_item.title'), scope:'col', class: 'col-4')%>
                                        <%=tag.th(t('helpers.label.incase_item.quantity'), scope:'col', class: 'col-1')%>
                                        <%=tag.th(t('helpers.label.incase_item.katnumber'), scope:'col', class: 'col-2')%>
                                        <%=tag.th(t('helpers.label.incase_item.price'), scope:'col', class: 'col-1')%>
                                        <%=tag.th(t('helpers.label.incase_item.sum'), scope:'col', class: 'col-1')%>
                                        <%#tag.th(t('helpers.label.incase_item.status'), scope:'col', class: 'col-2')%>
                                        <th class="px-0"><%= select_tag "incase_item_status_label", options_from_collection_for_select(IncaseItemStatus.order(:id), "id", "title"), prompt: "Статус", class: 'form-select', data: {action: "change->incase#changeBulkIncaseItemStatus", incase_target: "itemStatusSelected"}%></th>
                                        <%=tag.th('', scope:'col', class: 'col-1')%>
                                    </tr>
                                </thead>
                                <tbody class="">
                                <% import_incase_data['lines'].each do |import_line| %>
                                    <%= f.fields_for :incase_items, IncaseItem.new do |incase_items| %>
                                        <%= render "nested_items", f: incase_items, nested_form_index: nested_form_index, import_line: import_line %>
                                    <% end %>
                                <% end %>
                                <tr data-nested-form-target="target"></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <%= f.submit class: "btn btn-primary", data: {disable_with: false}, value: 'Создать из импорта'+nested_form_index.to_s %>
                    <%# link_to t('back'), incases_path, class: "btn btn-outline-primary" %>
                </div>
            </div>
        </div>
    </div>

<% end %>

