<%= form_with(model: enter, data: { controller: 'slimselect'}, class: 'enter-form' ) do |f| %>
   <%= render 'shared/errors', object: enter%>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
          <div class="card-header d-flex align-items-center gap-3 px-2">
              <div class="d-flex justify-content-between align-items-center gap-3">
                  <%= f.select :enter_status_id, EnterStatus.order(:position).pluck(:title, :id), {include_blank: false, prompt: t('helpers.label.enter.enter_status_id')}, {class: "form-select border-primary-subtle"}%>
                  <%= tabs_head('enter', [ ['main', t(:main)] ]) if !f.object.new_record? %>
              </div>
              <div class="d-flex ms-auto justify-content-between align-items-center gap-3">
                  <%= f.select :manager_id, User.pluck(:name, :id), {include_blank: false}, {class: "form-select border-primary-subtle"}%>
                  <%= link_to history_icon, audited_auditable_audits_path(auditable_type: "enter", auditable_id: enter.id), class: 'btn btn-outline-success d-flex', data: {turbo_frame: "offcanvas_history"} if !f.object.new_record?%>
              </div>
          </div>
          <div class="card-body">
              <div class="tab-content">
                  <div class="tab-pane active" id="main_tab" role="tabpanel" aria-labelledby="main_tab">
                      <div class="row mb-3">
                          <%= render 'form_data', f: f%>
                      </div>
                      <div class="row" data-controller="calculate">
                          <%= render 'nested', f: f %>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card-footer">
              <%= f.submit t('save'), class: "btn btn-primary" %>
              <%= link_to t('back'), enters_path, class: "btn btn-outline-primary" %>
          </div>
      </div>
    </div>
  </div>

<% end %>
