 <%= form_with(model: incase, data: { controller: 'choose slimselect'}, class: 'incase-form' ) do |f| %>
    <%= render 'shared/errors', object: incase%>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-start align-items-center gap-3">
                        <%# f.label :incase_status_id, class: "form-label" %>
                        <%= f.select :incase_status_id, IncaseStatus.pluck(:title, :id), {include_blank: true}, {class: "form-select w-25"}%>
                        <%# f.label :incase_tip_id, class: "form-label" %>
                        <%= f.select :incase_tip_id, IncaseTip.pluck(:title, :id), {include_blank: true}, {class: "form-select w-25"} %>
                        <%= tabs_head('incase', [ ['main', t(:main)] ]) if !f.object.new_record? %>
                    </div>
                    <div class="d-flex justify-content-between align-items-center gap-3">
                        <%= link_to history_icon, audited_auditable_audits_path(auditable_type: "incase", auditable_id: incase.id), class: 'btn btn-outline-success d-flex btn-lg', data: {turbo_frame: "offcanvas_history"} if !f.object.new_record?%>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="main_tab" role="tabpanel" aria-labelledby="main_tab">
                            <div class="row">
                                <%= render 'form_data', f: f %>
                            </div>
                            <div class="row" data-controller="calculate">
                                <%# render 'table nested'   We change to Hotwire %>
                                <%= render 'nested', f: f %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <%= f.submit class: "btn btn-primary", data: {disable_with: false} %>
                    <%= link_to t('back'), incases_path, class: "btn btn-outline-primary" %>
                </div>
            </div>
        </div>
    </div>

<% end %>

