
<%= form_with(model: incase, data: { controller: 'nested-form',
    nested_form_wrapper_selector_value: '.nested-form-wrapper'+nested_form_index.to_s }, class: 'incase-form') do |f| %>
    
    <%= render 'shared/errors', object: incase%>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="mb-3 col-md-1 px-1">
                            <%= f.label :region, class: "form-label" %>
                            <%= f.select :region, Incase::REGION, {include_blank: true}, {class: "form-select"}%>
                        </div>
                        <div class="mb-3 col-md-2 px-1">
                            <%= f.label :strah_id, class: "form-label" %>
                            <%= f.select :strah_id, Company.strah.pluck(:short_title, :id), {include_blank: true}, {class: "form-select"}%>
                        </div>
                        <div class="mb-3 col-md-3 px-1">
                            <%= f.label :stoanumber, class: "form-label" %>
                            <%= f.text_field :stoanumber, class: "form-control" %>
                        </div>
                        <div class="mb-3 col-md-3 px-1">
                            <%= f.label :unumber, class: "form-label" %>
                            <%= f.text_field :unumber, class: "form-control" %>
                        </div>
                        <div class="mb-3 col-md-3 px-1">
                            <%= f.label :company_id, class: "form-label" %>
                            <%= f.select :company_id, Company.standart.pluck(:short_title, :id), {include_blank: true}, { class: "form-select" }%>
                        </div>
                        <div class="mb-3 col-md-2 px-1">
                            <%= f.label :carnumber, class: "form-label" %>
                            <%= f.text_field :carnumber, class: "form-control" %>
                        </div>
                        <div class="mb-3 col-md-2 px-1">
                            <%= f.label :date, class: "form-label" %>
                            <%= f.date_field :date, class: "form-control" %>
                        </div>
                        <div class="mb-3 col-md-2 px-1">
                            <%= f.label :modelauto, class: "form-label" %>
                            <%= f.text_field :modelauto, class: "form-control" %>
                        </div>
                        <div class="mb-3 col-md-2 px-1">
                            <%= f.label :totalsum, class: "form-label" %>
                            <%= f.text_field :totalsum, class: "form-control" %>
                        </div>
                        <div class="mb-3 col-md-2 px-1">
                            <%= f.label :status, class: "form-label" %>
                            <%= f.select :status, Incase::STATUS, {include_blank: true}, {class: "form-select"}%>
                        </div>
                        <div class="mb-3 col-md-2 px-1">
                            <%= f.label :tip, class: "form-label" %>
                            <%= f.select :tip, Incase::TIP, {include_blank: true}, {class: "form-select"} %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 mb-2">
                            <button type="button" class="btn btn-primary" data-action="nested-form#add"><i data-feather='plus'></i>Add line</button>
                        </div>
                        <template data-nested-form-target="template">
                        <%= f.fields_for :line_items, LineItem.new, child_index: 'NEW_RECORD' do |line_items| %>
                            <%= render "nested_line_items", f: line_items, nested_form_index: nil %>
                        <% end %>
                        </template>
                        <div class="table-responsive">
                            <table class="table table-primary table-striped table-hover" style="table-layout: fixed;">
                                <thead class="">
                                    <tr>
                                        <th scope="col" class="col-3">title</th>
                                        <th scope="col" class="col-1">quantity</th>
                                        <th scope="col" class="col-2">katnumber</th>
                                        <th scope="col" class="col-1">price</th>
                                        <th scope="col" class="col-1">sum</th>
                                        <th scope="col" class="col-2">status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="">
                                    <%= f.fields_for :line_items do |line_items| %>
                                        <%= render "nested_line_items", f: line_items, nested_form_index: nil %>
                                    <% end %>
                                <tr data-nested-form-target="target"></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <%= f.submit class: "btn btn-primary", data: {disable_with: false} %>
                    <%= link_to t('back'), incases_path, class: "btn btn-outline-primary" %>
                </div>
            </div>
        </div>
    </div>

<% end %>

