    <div class="mb-3 col-md-1 ">
        <%= f.label :region, class: "form-label" %>
        <%= f.select :region, Incase::REGION, {include_blank: false}, {class: "form-select"}%>
    </div>
    <div class="mb-3 col-md-2 ">
        <%= f.label :strah_id, class: "form-label" %>
        <%= f.select :strah_id, Company.strah.pluck(:short_title, :id), {include_blank: true}, {class: "form-select"}%>
    </div>
    <div class="mb-3 col-md-3 ">
        <%= f.label :stoanumber, class: "form-label" %>
        <%= f.text_field :stoanumber, class: "form-control" %>
    </div>
    <div class="mb-3 col-md-3 ">
        <%= f.label :unumber, class: "form-label" %>
        <%= f.text_field :unumber, class: "form-control" %>
    </div>
    <div class="mb-3 col-md-3 ">
        <%= f.label :company_id, class: "form-label" %>
        <%= f.select :company_id, Company.standart.pluck(:short_title, :id), {include_blank: true}, { class: "form-select" }%>
    </div>
    <div class="mb-3 col-md-2 ">
        <%= f.label :carnumber, class: "form-label" %>
        <%= f.text_field :carnumber, class: "form-control" %>
    </div>
    <div class="mb-3 col-md-2 ">
        <%= f.label :date, class: "form-label" %>
        <%= f.date_field :date, class: "form-control" %>
    </div>
    <div class="mb-3 col-md-2 ">
        <%= f.label :modelauto, class: "form-label" %>
        <%= f.text_field :modelauto, class: "form-control" %>
    </div>
    <div class="mb-3 col-md-2 ">
        <%= f.label :totalsum, class: "form-label" %>
        <%= f.text_field :totalsum, class: "form-control" %>
    </div>
    <div class="mb-3 col-md-2 ">
        <%= f.label :incase_status_id, class: "form-label" %>
        <%= f.select :incase_status_id, IncaseStatus.pluck(:title, :id), {include_blank: false}, {class: "form-select"}%>
    </div>
    <div class="mb-3 col-md-2 ">
        <%= f.label :incase_tip_id, class: "form-label" %>
        <%= f.select :incase_tip_id, IncaseTip.pluck(:title, :id), {include_blank: false}, {class: "form-select"} %>
    </div>
