
<%# form_with(model: incase, data: { controller: 'nested-form',
    nested_form_wrapper_selector_value: '.nested-form-wrapper'+nested_form_index.to_s }, class: 'incase-form') do |f| %>
 <%= form_with(model: incase, data: { controller: 'nested-form',
    nested_form_wrapper_selector_value: '.nested-form-wrapper' }, class: 'incase-form') do |f| %>
   
    <%= render 'shared/errors', object: incase%>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="row">
                        <%= render 'incase_form_data', f: f %>
                    </div>
                    <div class="row">
                        <div class="col-md-2 mb-2">
                            <button type="button" class="btn btn-primary" data-action="nested-form#add"><i data-feather='plus'></i>Add line</button>
                        </div>
                        <template data-nested-form-target="template">
                            <%= f.fields_for :line_items, LineItem.new, child_index: 'NEW_RECORD' do |line_items| %>
                                <%= render "nested_line_items", f: line_items, nested_form_index: nil %>
                            <% end %>
                        </template>
                        <div class="table-responsive">
                            <table class="table table-primary table-striped table-hover" style="table-layout: fixed;">
                                <thead class="">
                                    <tr>
                                        <th scope="col" class="col-3">title</th>
                                        <th scope="col" class="col-1">quantity</th>
                                        <th scope="col" class="col-2">katnumber</th>
                                        <th scope="col" class="col-1">price</th>
                                        <th scope="col" class="col-1">sum</th>
                                        <th scope="col" class="col-2">status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="">
                                    <%= f.fields_for :line_items do |line_items| %>
                                        <%= render "nested_line_items", f: line_items, nested_form_index: nil %>
                                    <% end %>
                                    <tr data-nested-form-target="target"></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <%= f.submit class: "btn btn-primary", data: {disable_with: false} %>
                    <%= link_to t('back'), incases_path, class: "btn btn-outline-primary" %>
                </div>
            </div>
        </div>
    </div>

<% end %>

