<div class="mb-3 col-md-1 p-0">
    <%= f.label :region, class: "form-label" %>
    <%= f.select :region, Incase::REGION, {include_blank: false}, {class: "form-select"}%>
</div>
<div class="mb-3 col-md-2 p-0">
    <%= f.label :strah_id, class: "form-label" %>
    <%= f.select :strah_id, Company.strah_collection_for_select(f.object.strah_id), {include_blank: true}, 
                            { class: "form-select", data: {controller: 'slimselect', search_url:  "/companies/search"} } %>

</div>
<div class="mb-3 col-md-3 p-0 ">
    <%= f.label :stoanumber, class: "form-label" %>
    <%= f.text_field :stoanumber, class: "form-control" %>
</div>
<div class="mb-3 col-md-3 p-0">
    <%= f.label :unumber, class: "form-label" %>
    <%= f.text_field :unumber, class: "form-control" %>
</div>
<div class="mb-3 col-md-3 p-0">
    <%= f.label :company_id, class: "form-label" %>
    <%= f.select :company_id, Company.standart_collection_for_select(f.object.company_id), {include_blank: true}, 
                            { class: "form-select", data: {controller: 'slimselect', search_url:  "/companies/search"} } %>
</div>
<div class="mb-3 col-md-2 p-0 ">
    <%= f.label :carnumber, class: "form-label" %>
    <%= f.text_field :carnumber, class: "form-control" %>
</div>
<div class="mb-3 col-md-2 p-0">
    <%= f.label :date, class: "form-label" %>
    <%= f.date_field :date, class: "form-control bg-light cursor-pointer", data: { controller: 'flatpickr', flatpickr_min_date: (Time.zone.now + 1.day), flatpickr_alt_input: "true", flatpickr_alt_format: "d-m-Y"}  %>
</div>
<div class="mb-3 col-md-2 p-0">
    <%= f.label :modelauto, class: "form-label" %>
    <%= f.text_field :modelauto, class: "form-control" %>
</div>
<div class="mb-3 col-md-2 p-0">
    <%= f.label :totalsum, class: "form-label" %>
    <%= f.text_field :totalsum, class: "form-control" %>
</div>