<tr id="<%= dom_id incase %>">
    <td><b><%= incase.id%></b></td>
    <%= tag.td do %>
        <%=tag.span(incase.incase_status.title, class: 'badge text-teal-800', style: 'background-color:'+incase.incase_status.color) if incase.incase_status%>
    <% end %>
    <%= tag.td do %>
        <%= tag.span(incase.incase_tip.title, class: 'badge text-teal-800', style: 'background-color:'+incase.incase_tip.color) if incase.incase_tip%>
     <% end %>
    <td><%= incase.region %></td>
    <td><%= incase.strah.short_title %></td>
    <td><%= incase.stoanumber %></br><%= incase.company.short_title %></td>
    <td><%= incase.unumber %></td>
    <td><%= incase.carnumber %></br><%= incase.modelauto %></td>
    <td><%= incase.date.strftime("%d/%m/%Y") %></td>
    <td><%= incase.totalsum %></td>
    <td>
    <span class="d-flex">
    <%= link_to '<i data-feather="edit-2"></i>'.html_safe, edit_incase_path(incase), class: "px-2" %>
    <%= link_to '<i data-feather="trash-2"></i>'.html_safe, incase, data: { "turbo-method": :delete, confirm: 'Are you sure?' }, class:"px-2" %>
    </span>
    </td>
</tr>