<tr id="<%= dom_id incase %>">
    <td><%= check_box_tag "incase_ids[]", incase.id, false, {class: 'checkboxes', data: { 'selectall_target': 'checkbox', action: "change->selectall#toggleParent"}, form: :bulk_action_form } %></td>
    <%= tag.td tag.b(incase.id) %>
    <%= tag.td do %>
        <%= tag.span(   incase.incase_status.title,
                        class: 'w-100', 
                        style: 'background-color:'+incase.incase_status.color,
                        data: {controller: 'badge', badge_target: 'value', bg_color: incase.incase_status.color }) if incase.incase_status %>
    <% end %>
    <%= tag.td do %>
        <%= tag.span(   incase.incase_tip.title, 
                        class: 'w-100', 
                        style: 'background-color:'+incase.incase_tip.color,
                        data: {controller: 'badge', badge_target: 'value', bg_color: incase.incase_tip.color } ) if incase.incase_tip%>
    <% end %>
    <%= tag.td do %><%= incase.region %></br><%= incase.strah.short_title if incase.strah%><% end %>
    <%= tag.td do %><%= incase.stoanumber %></br><%= incase.company.short_title if incase.company%><% end %>
    <%= tag.td(incase.unumber) %>
    <%= tag.td do %><%= incase.carnumber %></br><%= incase.modelauto %><% end %>
    <%= tag.td(incase.date.strftime("%d/%m/%Y")) %>
    <%= tag.td(incase.totalsum) %>
    <%= td_index_edit_delete_link(incase)%>
</tr>