<tr id="<%= dom_id f.object %>" class="nested-form-wrapper<%= nested_form_index.to_s%>" data-new-record="<%= f.object.new_record? %>">
  <% if defined?(import_line) && import_line  %>
    <%= render "incase_items/form_data", f: f, import_line: import_line %>
  <% else %>
    <%= render "incase_items/form_data", f: f, import_line: nil %>
  <% end %>
  <td>
  <button type="button" class="btn btn-link" data-action="nested-form#remove"><i class="fa fa-trash"></i></button>
  <%= f.hidden_field :_destroy %>
  </td>
</tr>
