<div class="col-md-2 mb-2">
    <%= link_to add_icon, new_nested_incases_path, class: "btn btn-primary", data: { turbo_stream: true } %>
</div>

<div class="col-sm-12 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
    <div class="row py-2 px-0 ">
        <%= tag.div( '', class: 'col-2 fw-semibold' ) do %>    
            <%= select_tag "incase_item_status_label", 
                            options_from_collection_for_select(IncaseItemStatus.order(:id), "id", "title"), 
                            prompt: "Статус позиции", class: 'form-select', 
                            data: {
                                action: "change->choose#changeBulkItemStatus", 
                                choose_target: "itemSelected" 
                                }%>
        <% end %>
        <%= tag.div( t('helpers.label.incase_item.title'), class: 'col-4 fw-semibold')%> 
        <%= tag.div( t('helpers.label.incase_item.katnumber'), class: 'col-2 fw-semibold' )%>
        <%= tag.div( t('helpers.label.incase_item.quantity'), class: 'col-1 fw-semibold' )%>
        <%= tag.div( t('helpers.label.incase_item.price'), class: 'col-1 fw-semibold' )%>
        <%= tag.div( t('helpers.label.incase_item.sum'), class: 'col-1 fw-semibold')%>

        <%= tag.div('', class: 'col fw-semibold')%>
    </div>
    <%= turbo_frame_tag 'incase_items', class: "container m-0 p-0" do %>
        <%= f.fields_for :incase_items do |item| %>
            <%= render "incase_items/form_data", f: item, product: nil%>
        <% end %>
    <% end %>
    <div class="row">
        <div class="col-9"></div>
        <div class="col-1">Subtotal:</div>
        <div class="col" data-calculate-target="subtotal"><%= @incase.incase_items.sum(:sum)%></div>
    </div>
    <div class="row">
        <div class="col-9"></div>
        <div class="col-1">NDS:</div>
        <div class="col" data-calculate-target="vattotal"></div>
    </div>
    <div class="row">
        <div class="col-9"></div>
        <div class="col-1">Total:</div>
        <div class="col" data-calculate-target="total"><%= @incase.incase_items.sum(:sum)%></div>
    </div>

</div>
