
<div class="row index-head mb-3">
  <div class="col-md-6 index-head__title">
    <h1 class="h3 d-inline align-middle"><%= Incase.model_name.human(count: 2)%></h1>
  </div>
  <div class="col-md-6 d-flex justify-content-end index-head__buttons">
    <%= form_with url: bulk_print_incases_path, method: :post, id: :bulk_action_form  do |f| %>
      <% if Templ.incase_print.presence %>
      <%= button_print %>
      <ul class="dropdown-menu">
        <% Templ.incase_print.each do |templ|%>
          <%= f.button type: :submit, value: "templ_id##{templ.id}", class: "dropdown-item" do %>
            <%= templ.title %>
          <% end %>
        <% end %>
      <% end %>
      </ul>
      <%= render 'shared/download_excel_buttons', f: f, object: Incase.new %>
    <% end %>

    <%= render 'shared/index_filter' if lookup_context.find_all("incases/_filter").any? %>
    <%= link_to arrow_clockwise_icon, incases_path(search_cancel: true), class: 'btn btn-outline-primary me-2', data: {turbo: false}  %>
    <%= link_to add_icon, new_incase_path, class: "btn btn-primary" %>
  </div>
</div>

<%= render 'filter', q: @search, title: 'Incase filter' if lookup_context.find_all("incases/_filter").any?%>

<div class="card">
  <div class="card-header pb-0">
    <div class="card-actions float-end">
      <div class="dropdown position-relative">
        <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
          <%= more_icon%>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <%#OLD IMPORT link_to 'Импорт'.html_safe, file_import_incases_path, class: 'dropdown-item', data: {turbo_frame: "modal"} %>
          <%= link_to 'Импорт'.html_safe, incase_imports_path, class: 'dropdown-item'%>
          <%# link_to '.xlsx', incases_path(request.parameters.merge(format: 'zip')), class:"dropdown-item", data: {turbo_prefetch: false} %>
        </div>
      </div>
    </div>
    <h5 class="card-title mb-0">Заказы поставщикам</h5>
    <h5 class="card-title mb-0" id="count_info">Всего: <%= Incase.all.count %></h5>
  </div>
  <%= tag.div(class: "card-body") do %>
    <%= tag.div(class: "col-sm-12 list-group list-group-striped", id: 'datatables-incases', data: {controller: "selectall"}) do %>
       <%= tag.div(class: "row #{h_v_center}") do %>
        <%= div_check_box_tag_all %>
        <%= tag.div( t( 'helpers.label.incase.incase_status_id'), class: 'col-md-1 fw-semibold' )%>
        <%= tag.div( t( 'helpers.label.incase.incase_tip_id'), class: 'col-md-1 fw-semibold' )%> 
        <%= tag.div( '', class: 'col fw-semibold')%>
        <%= tag.div( t( 'helpers.label.incase.date'), class: 'col-md-1 fw-semibold' )%>
        <%= tag.div( t( 'helpers.label.incase.totalsum'), class: 'col-md-1 fw-semibold' )%>
        <%= tag.div('', class: 'col-2 fw-semibold')%>
      <% end %>
      <%= turbo_stream_from "incases_list" %>
      <%= turbo_frame_tag 'incases' do %>
          <%= render @incases %>
      <% end %>
    <% end if Incase.count.positive?%>
    
    <%= render "shared/paginate", f: @incases %>
  <% end %>
</div>
