<% child_index = f.object.new_record? && child_index.nil? ?  Time.now.to_i+f.index : child_index %>
<%= turbo_frame_tag "location_#{ f.object.persisted? ? f.object.id : child_index}", 
                    class: "d-flex justify-content-center align-items-center py-1 border-start-0 border-end-0 px-2 bg-light row" do %>    
    <%= f.hidden_field :id, class: ""%>
    <div class = "col-7 p-0">
        <% start_variant_id = f.object.variant_id if f.object.present? %>
        <% variant_id = variant.present? ? variant.id : start_variant_id %>
        <% selected = Variant.collection_for_select(variant_id).first if variant_id %>
        <%= f.select :variant_id, options_for_select(Variant.collection_for_select(variant_id), selected: selected ),
                                    {include_blank: true}, { class: "rounded-0 form-select", data: { controller: 'slimselect', 
                                                            search_url:  "/products/search",
                                                            warehouse_id: warehouse_id } } %>

    </div>
    <div class="col-2 p-0">
      <%= f.select :place_id, Warehouse.find_by_id(warehouse_id).places.map{|p| [p.full_title, p.id]}, { include_blank: true }, { class: "form-select" } %>
    </div>
    <div class="col-2 p-0">
        <%= f.fields_for :comments, f.object.comments.present? ? f.object.comments : Comment.new do |comment| %>
            <%= render partial: 'comments/form_data', locals: {f: comment, row: 1}%>
        <% end %>
    </div>
    <div class="col p-0 d-flex justify-content-center">
        <%= link_to trash_icon, remove_nested_placements_path( location_id: f.object.id, remove_element: "location_#{ f.object.persisted? ? f.object.id : child_index}" ),
                                class: "px-2", data: {  turbo_method: :post,  turbo_confirm: "Are you sure?"}  %>
    </div>
<% end %>