<% child_index = f.object.new_record? && child_index.nil? ?  Time.now.to_i+f.index : child_index %>
<%= turbo_frame_tag "location_#{ f.object.persisted? ? f.object.id : child_index}", 
                    class: "d-flex justify-content-center align-items-center py-1 border-start-0 border-end-0 px-2 bg-light row" do %>    
    <div class = "col-1">
      <%= f.text_field :id, class: "form-control disabled", readonly: true %>
    </div>
    <div class = "col-4">
        <% start_product_id = f.object.product_id if f.object.present? %>
        <% product_id = product.present? ? product.id : start_product_id %>
        <% selected = Product.collection_for_select(product_id).first if product_id %>
        <%= f.select :product_id, options_for_select(Product.collection_for_select(product_id), selected: selected ),
                                    {include_blank: true}, { class: "rounded-0", data: { controller: 'slimselect', 
                                                            search_url:  "/products/search",
                                                            warehouse_id: warehouse_id } } %>

    </div>
    <div class="col-3">
      <%= f.select :place_id, Warehouse.find_by_id(warehouse_id).places.map{|p| [p.full_title, p.id]}, { include_blank: true }, { class: "form-select" } %>
    </div>
    <div class="col-3">
        <%= f.fields_for :comments, f.object.comments.present? ? f.object.comments : Comment.new do |comment| %>
            <%= render partial: 'comments/form_data', locals: {f: comment}%>
        <% end %>
    </div>
    <div class="col p-0 d-flex justify-content-center">
        <%= link_to trash_icon, remove_nested_placements_path( location_id: f.object.id, remove_element: "location_#{ f.object.persisted? ? f.object.id : child_index}" ),
                                class: "px-2", data: {  turbo_method: :post,  turbo_confirm: "Are you sure?"}  %>
    </div>
<% end %>