<%= form_with(model: place) do |form| %>
  <%= render 'shared/errors', object: place %>

  <div>
    <%= form.label :sector, style: "display: block" %>
    <%= form.text_field :sector %>
  </div>

  <div>
    <%= form.label :cell, style: "display: block" %>
    <%= form.text_field :cell %>
  </div>

  <div>
    <%= form.label :product_id, style: "display: block" %>
    <%= form.number_field :product_id %>
  </div>

  <div>
    <%= form.label :warehouse_id, style: "display: block" %>
    <%= form.number_field :warehouse_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
