<div id="<%= dom_id place %>">
  <p>
    <strong>Sector:</strong>
    <%= place.sector %>
  </p>

  <p>
    <strong>Cell:</strong>
    <%= place.cell %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= place.product_id %>
  </p>

  <p>
    <strong>Warehouse:</strong>
    <%= place.warehouse_id %>
  </p>

</div>
