<nav id="sidebar" class="sidebar js-sidebar">
	<div class="sidebar-content js-simplebar">
		<a class="sidebar-brand" href="/">
			<span class="sidebar-brand-text align-middle">
				Dizauto
				<sup><small class="badge bg-primary text-uppercase">erp</small></sup>
			</span>
			<svg class="sidebar-brand-icon align-middle" width="32px" height="32px" viewBox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="1.5"
				stroke-linecap="square" stroke-linejoin="miter" color="#FFFFFF" style="margin-left: -3px">
				<path d="M12 4L20 8.00004L12 12L4 8.00004L12 4Z"></path>
				<path d="M20 12L12 16L4 12"></path>
				<path d="M20 16L12 20L4 16"></path>
			</svg>
		</a>

		<div class="sidebar-user">
			<div class="d-flex justify-content-center">
				<div class="flex-shrink-0">
					<%# image_tag "avatars/avatar.jpg", class: "avatar img-fluid rounded me-1", alt: current_user.email %>
				</div>
				<div class="flex-grow-1 ps-2">
					<a class="sidebar-user-title dropdown-toggle" href="#" data-bs-toggle="dropdown">
						<%= current_user.email %>
					</a>
					<div class="dropdown-menu dropdown-menu-start">
						<%= link_to '<i class="bi bi-person fs-3 me-2"></i>Профиль'.html_safe, users_path, class: "dropdown-item dropdown-item d-flex align-items-center" %>
						<!--<a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="pie-chart"></i> Analytics</a>-->
						<div class="dropdown-divider"></div>
						<%= link_to '<i class="bi bi-card-list fs-3 me-2"></i>Оповещения'.html_safe, notifications_path, class: "dropdown-item dropdown-item d-flex align-items-center" %>
						<!--<a class="dropdown-item" href=""><i class="align-middle me-1" data-feather="settings"></i> Settings & Privacy</a>-->
						<a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="help-circle"></i> Help Center</a>
						<div class="dropdown-divider"></div>
						<% if user_signed_in? %>
						<%= link_to 'Выйти', destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
						<% end %>
						</div>
					<div class="sidebar-user-subtitle"><%= current_user.name%></div>
				</div>
			</div>
		</div>

		<ul class="sidebar-nav">
			<li class="sidebar-header"></li>
			<li class="sidebar-item">
				<a data-bs-target="#dashboards" data-bs-toggle="collapse" class="sidebar-link">
						<i class="bi bi-house"></i><span class="align-middle">Главная</span>
				</a>
				<ul id="dashboards" class="list-unstyled collapse <%= 'show' if current_page_active?('dashboards') %>" data-bs-parent="#sidebar">
					<%= li_menu_link_to "<i class='bi bi-bar-chart-fill'></i> #{Dashboard.model_name.human(count: 2)}".html_safe, dashboards_path, class: "sidebar-link" %>
				</ul>
			</li>
			<li class="sidebar-item">
				<a data-bs-target="#outbounds" data-bs-toggle="collapse" class="sidebar-link collapsed">
					<i class="bi bi-cart4"></i> <span class="align-middle"><%= t('selling')%></span>
				</a>
				<ul id="outbounds" class="sidebar-dropdown list-unstyled collapse <%= 'show' if current_page_active?('orders') || 
																								current_page_active?('invoices') ||
																								current_page_active?('returns') %>" data-bs-parent="#sidebar">
					<%= li_menu_link_to Order.model_name.human(count: 2), orders_path, class: "sidebar-link" %>
					<%= li_menu_link_to Invoice.model_name.human(count: 2), invoices_path, class: "sidebar-link" %>
					<%= li_menu_link_to Return.model_name.human(count: 2), returns_path, class: "sidebar-link" %>
				</ul>
			</li>
			<li class="sidebar-item">
				<a data-bs-target="#inbounds" data-bs-toggle="collapse" class="sidebar-link collapsed">
					<i class="align-middle" data-feather="layout"></i> <span class="align-middle"><%= t('purchasing')%></span>
				</a>
				<ul id="inbounds" class="sidebar-dropdown list-unstyled collapse <%= 'show' if current_page_active?('incases') || 
																								current_page_active?('incase_imports') || 
																								current_page_active?('supplies') %>" data-bs-parent="#sidebar">
					<%= li_menu_link_to Incase.model_name.human(count: 2), incases_path, class: "sidebar-link" %>
					<%= li_menu_link_to IncaseImport.model_name.human(count: 2), incase_imports_path, class: "sidebar-link" %>
					<%= li_menu_link_to Supply.model_name.human(count: 2), supplies_path, class: "sidebar-link" %>
				</ul>
			</li>
			<li class="sidebar-item">
				<a data-bs-target="#warehouse" data-bs-toggle="collapse" class="sidebar-link collapsed">
					<i class="align-middle" data-feather="briefcase"></i> <span class="align-middle"><%= t('inventory')%></span>
				</a>
				<ul id="warehouse" class="sidebar-dropdown list-unstyled collapse <%= 'show' if current_page_active?('products') || 
																								current_page_active?('placements') ||
																								current_page_active?('enters') ||
																								current_page_active?('losses') ||
																								current_page_active?('stock_transfers') ||
																								current_page_active?('stocks') %>" data-bs-parent="#sidebar">
					<%= li_menu_link_to Product.model_name.human(count: 2), products_path, class: "sidebar-link" %>
					<%= li_menu_link_to Placement.model_name.human(count: 2), placements_path, class: "sidebar-link" %>
					<%= li_menu_link_to Enter.model_name.human(count: 2), enters_path, class: "sidebar-link" %>
					<%= li_menu_link_to Loss.model_name.human(count: 2), losses_path, class: "sidebar-link" %>
					<%= li_menu_link_to StockTransfer.model_name.human(count: 2), stock_transfers_path, class: "sidebar-link" %>
					<%= li_menu_link_to Stock.model_name.human(count: 2), stocks_path, class: "sidebar-link" %>
				</ul>
			</li>
			<li class="sidebar-item">
				<a data-bs-target="#lists" data-bs-toggle="collapse" class="sidebar-link collapsed">
					<i class="align-middle" data-feather="list"></i> <span class="align-middle"><%= t('directories')%></span>
				</a>
				<ul id="lists" class="sidebar-dropdown list-unstyled collapse <%= 'show' if current_page_active?('properties') || 
																							current_page_active?('detals') || 
																							current_page_active?('clients') ||
																							current_page_active?('companies') ||
																							current_page_active?('okrugs') ||
																							current_page_active?('warehouses') ||
																							current_page_active?('order_statuses') ||
																							current_page_active?('payment_types') ||
																							current_page_active?('delivery_types') ||
																							current_page_active?('supply_statuses') ||
																							current_page_active?('incase_statuses') ||
																							current_page_active?('incase_tips') || 
																							current_page_active?('incase_item_statuses') ||
																							current_page_active?('invoice_statuses') ||
																							current_page_active?('return_statuses') || 
																							current_page_active?('enter_statuses') ||
																							current_page_active?('loss_statuses') || 
																							current_page_active?('stock_transfer_statuses') || 
																							current_page_active?('inventory_statuses')%>" data-bs-parent="#sidebar">
					<%= li_menu_link_to Property.model_name.human(count: 2), properties_path, class: "sidebar-link" %>
					<%= li_menu_link_to Detal.model_name.human(count: 2), detals_path, class: "sidebar-link" %>
					<%= li_menu_link_to Client.model_name.human(count: 2), clients_path, class: "sidebar-link" %>
					<%= li_menu_link_to Company.model_name.human(count: 2), companies_path, class: "sidebar-link" %>
					<%= li_menu_link_to Okrug.model_name.human(count: 2), okrugs_path, class: "sidebar-link" %>
					<%= li_menu_link_to Warehouse.model_name.human(count: 2), warehouses_path, class: "sidebar-link" %>
					<li class="sidebar-item">
						<a data-bs-target="#multi-selling" data-bs-toggle="collapse" class="sidebar-link collapsed"><%= t('statuses')%></a>
						<ul id="multi-selling" class="sidebar-dropdown list-unstyled collapse <%= 'show' if	current_page_active?('order_statuses') || 
																											current_page_active?('payment_types') || 
																											current_page_active?('delivery_types') || 
																											current_page_active?('invoice_statuses') || 
																											current_page_active?('return_statuses') || 
																											current_page_active?('supply_statuses') ||
																											current_page_active?('incase_statuses') || 
																											current_page_active?('incase_tips') || 
																											current_page_active?('incase_item_statuses') ||
																											current_page_active?('enter_statuses') ||
																											current_page_active?('loss_statuses') || 
																											current_page_active?('stock_transfer_statuses') || 
																											current_page_active?('inventory_statuses')%>" data-bs-parent="#lists">
							<%= li_menu_link_to OrderStatus.model_name.human(count: 2), order_statuses_path, class: "sidebar-link" %>
							<%= li_menu_link_to PaymentType.model_name.human(count: 2), payment_types_path, class: "sidebar-link" %>
							<%= li_menu_link_to DeliveryType.model_name.human(count: 2), delivery_types_path, class: "sidebar-link" %>
							<%= li_menu_link_to InvoiceStatus.model_name.human(count: 2), invoice_statuses_path, class: "sidebar-link" %>
							<%= li_menu_link_to ReturnStatus.model_name.human(count: 2), return_statuses_path, class: "sidebar-link" %>
							<%= li_menu_link_to SupplyStatus.model_name.human(count: 2), supply_statuses_path, class: "sidebar-link" %>
							<%= li_menu_link_to IncaseStatus.model_name.human(count: 2), incase_statuses_path, class: "sidebar-link" %>
							<%= li_menu_link_to IncaseTip.model_name.human(count: 2), incase_tips_path, class: "sidebar-link" %>
							<%= li_menu_link_to IncaseItemStatus.model_name.human(count: 2), incase_item_statuses_path, class: "sidebar-link" %>
							<%= li_menu_link_to EnterStatus.model_name.human(count: 2), enter_statuses_path, class: "sidebar-link" %>
							<%= li_menu_link_to LossStatus.model_name.human(count: 2), loss_statuses_path, class: "sidebar-link" %>
							<%= li_menu_link_to StockTransferStatus.model_name.human(count: 2), stock_transfer_statuses_path, class: "sidebar-link" %>
							<%= li_menu_link_to InventoryStatus.model_name.human(count: 2), inventory_statuses_path, class: "sidebar-link" %>
						</ul>
					</li>
				</ul>
			</li>
			<li class="sidebar-item">
				<a data-bs-target="#settings" data-bs-toggle="collapse" class="sidebar-link collapsed">
					<i class="align-middle" data-feather="sliders"></i> <span class="align-middle"><%= t('settings')%></span>
				</a>
				<ul id="settings" class="sidebar-dropdown list-unstyled collapse <%= 'show' if	current_page_active?('users') || 
																								current_page_active?('email_setups') || 
																								current_page_active?('exports') %>" data-bs-parent="#sidebar">
					<%= li_menu_link_to User.model_name.human(count: 2), users_path, class: "sidebar-link" %>
					<%= li_menu_link_to EmailSetup.model_name.human(count: 2), email_setups_path, class: "sidebar-link" %>
					<li class="sidebar-item"><a class="sidebar-link" href="">InSales API</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="">Avito API</a></li>
					<%= li_menu_link_to Export.model_name.human(count: 2), exports_path, class: "sidebar-link" %>
				</ul>
			</li>
			<li class="sidebar-item">
				<a data-bs-target="#multi-trigger" data-bs-toggle="collapse" class="sidebar-link collapsed">
				<i class="fas fa-robot align-middle"></i>
				<span class="align-middle"><%= t('rules')%></span></a>
				<ul id="multi-trigger" class="sidebar-dropdown list-unstyled collapse <%= 'show' if current_page_active?('triggers') || 
																									current_page_active?('templs') %>" data-bs-parent="#sidebar">
					<%= li_menu_link_to Trigger.model_name.human(count: 2), triggers_path, class: "sidebar-link" %>
					<%= li_menu_link_to Templ.model_name.human(count: 2), templs_path, class: "sidebar-link" %>
				</ul>
			</li>
			<li class="sidebar-item">
				<a data-bs-target="#rental" data-bs-toggle="collapse" class="sidebar-link collapsed">
				<i class="fas fa-solid fa-car-side align-middle"></i>
				<span class="align-middle"><%= t('rent')%></span></a>
				<ul id="rental" class="sidebar-dropdown list-unstyled collapse <%= 'show' if current_page_active?('rent_case_statuses')%>" data-bs-parent="#sidebar">
					<li class="sidebar-item"><a class="sidebar-link" href="">Заявки</a></li>
					<%= li_menu_link_to RentCaseStatus.model_name.human(count: 2), rent_case_statuses_path, class: "sidebar-link" %>
				</ul>
			</li>
		</ul>
<!--
		<div class="sidebar-cta">
			<div class="sidebar-cta-content">
				<strong class="d-inline-block mb-2">Weekly Sales Report</strong>
				<div class="mb-3 text-sm">
					Your weekly sales report is ready for download!
				</div>

				<div class="d-grid">
					<a href="https://adminkit.io/" class="btn btn-outline-primary" target="_blank">Download</a>
				</div>
			</div>
		</div>
-->
	</div>
</nav>