<!DOCTYPE html>
<html>
  <head>
    <title>Dizauto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <main class="main <%= current_page_path_as_class %>">
    <div class="container" data-layout="container">
      <%= render partial: "/layouts/notice_messages"%>
      <%= yield %>
      </div>
    </main>
  </body>
</html>
