<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Dizauto</title>
    <%= favicon_link_tag asset_path("favicon.png") %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.11/codemirror.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.11/codemirror.css"/>
  </head>
<!--
  HOW TO USE: 
  data-theme: default (default), dark, light, colored
  data-layout: fluid (default), boxed
  data-sidebar-position: left (default), right
  data-sidebar-layout: default (default), compact
-->
  <%# <body>
    <main class="main">
    <div class="container" data-layout="container"> %>
      <%# render partial: "/layouts/notice_messages"%>
      <%# yield %>
      <%# </div>
    </main> %>

<body data-theme="<% if user_signed_in? %>default<% else %>default<% end %>" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">
	<div class="wrapper">
    <% if user_signed_in? %>
    <%= render partial: '/layouts/sidebar'%>

		<div class="main <%= current_page_path_as_class %>">
      <%= render partial: "/layouts/navbar"%>

			<main class="content">
				<div class="container-fluid p-0">
        <%= render "shared/modal_wrap"%>
        <%= render "shared/offcanvas_history"%>
        <%= render "shared/offcanvas_wrap" %>
        <%=tag.div(id: "our_flash", class: "position-fixed start-50 translate-middle-x w-25") do %>
          <%= render "shared/flash"%>
        <% end %>
        
        <%= turbo_stream_from current_user, "exports" if user_signed_in? %>
        <%= turbo_stream_from current_user, "bulk_actions" if user_signed_in? %>
        <%= turbo_stream_from current_user, "incase_imports" if user_signed_in? %>

        <%#tag.div(id: "our_notif", class: '' ) do %>
          <%# render "shared/notyf"%>
        <%#end %>

          <%= yield %>

          <%= render "shared/toast"%>
				</div>
			</main>

      <%= render partial: "/layouts/footer"%>

      <% else %>
        <%= yield %>
      <% end %>
		</div>
	</div>
  </body>
</html>
